- content_for :head do
  = stylesheet_link_tag 'dreamThumbs'
  = stylesheet_link_tag 'contextPanel'
  = javascript_include_tag 'jquery-ui.min', 'modal'



/ CONTEXT PANEL
= render :partial => "shared/context_panel", :locals => {:user => @user}




/ DREAM FIELD
#dreamField

  / NEW ENTRY BAR
  =render :partial => 'entry_bar'

  / DREAM THUMBS
  - @dreams.each do |dream|
    = render :partial => 'dream_thumb', :locals => {:dream => dream}

  / NO DREAMS TO DISPLAY
  - if @dreams.empty?
    .light.transparent-50.round-16.padding-8.font-21 there are no public dreams to display



/ MODAL WINDOW
/= render :partial => "blah"


/ DEBUG
/  .light.transparent-50.round-16.padding-8
/    = debug current_user