- content_for :head do
  = stylesheet_link_tag 'newDream', "contextPanel"
  = javascript_include_tag "dreams"

/ CONTEXT BAR
= render :partial => "shared/context_panel", :locals => {:user => current_user}

/ DREAM ENTRY
#dreamField

  #newDream-panel.light.O.round-16.glow-40
    #entryTypeWrap
      %img{src: '/images/icons/dream-32.png'}
      %span#entryType_current{value: 'Dream'}
      %select#entryType_list
        %option{value: 'Dream'} Dream
        %option{value: 'Vision'} Vision
        %option{value: 'Experience'} Experience
    = form_for @dream do |f|
      = f.text_field :title, :maxlength => '72', :class => 'font-21'
      %hr.alpha-30{style: 'width:662px; margin:6px auto;'}
      = f.text_area :body

      #entryOptions.round-16.light.C-shine
        .myBooks
          %img{src: '/images/icons/books-16.png'} My Lucid Dreams
        = f.submit :value => 'post', :class => 'button-big-green'
        .visibility
          %img{src: '/images/icons/sharing-16.png'} Everyone
        .location
          %img{src: '/images/icons/location-21.png'}
        .date
          %img{src: '/images/icons/date-19.png'}
  
  = render :partial => "image_panel"
  
  #newDream-tag.newDream_assets.hidden.light.transparent-50
    .headers tag
    #tagInputWrap
      %img{src: '/images/slices/inputLeftLight-40.png', width: '26', height: '40'}
      #tagInput
        %input
        #tagAdd.round8button-0-15 Add
      %img{src: '/images/slices/inputRightLight-40.png', width: '14', height: '40'}
    #tagBrowse.round-8
      %img{src: '/images/icons/browseBars-36-over.png', width: '34', height: '30'}
  
  #newDream-link.newDream_assets.hidden.light.transparent-50
    .headers links
    #linkInputWrap
      %input#linkValue
      #linkAdd.round8button-0-15 Add
    %br{style: 'clear: both;'}
  
  #newDream-mood.newDream_assets.hidden.light.transparent-50
    .headers mood
    %ul
      <li><a href="/">smilies</a> |</li>
      <li><a href="/">classical</a> |</li>
      <li><a href="/">animals</a> |</li>
      <li><a href="/">emotional profile</a> |</li>
  
  #newDream-attach.newDream_assets.light.transparent-50
    %p attach:
    .tag tag
    #attach-images images
    .mood mood
    .links links
    .analysis analysis
