- content_for :head do
  = stylesheet_link_tag 'newDream', "contextPanel", 'newEntry', 'dreamStream'
  = javascript_include_tag "dreams", "autoresize.jquery.min"

/ CONTEXT BAR
= render :partial => "shared/context_panel", :locals => {:user => current_user}

/ DREAM ENTRY
#dreamField

  / NEW DREAM INPUT PANEL
  #newDream-panel.flat.round-16.glow-40
    #entryTypeWrap
      %img{src: '/images/icons/dream-32.png'}
      %span#entryType_current{value: 'Dream'}
      %select#entryType_list
        %option{value: 'Dream'} Dream
        %option{value: 'Vision'} Vision
        %option{value: 'Experience'} Experience
    = form_for @dream do |f|
      = f.text_field :title, :maxlength => '72', :class => 'font-21'
      %hr.alpha-30{style: 'width:662px; margin:6px auto;'}
      = f.text_area :body

      #entryOptions.round-16.light.C-shine
        /
          Save for later  
          .myBooks
            %img{src: '/images/icons/books-16.png'} My Lucid Dreams

        = f.submit :value => 'post', :class => 'button-big-green'
        .visibility
          %img{src: '/images/icons/sharing-16.png'} Everyone
        .location
          %img{src: '/images/icons/location-21.png'}
        .date
          %img{src: '/images/icons/date-19.png'}

        / NEW DREAM SHARING
        #share.round-8
          %img.arrow{src: '/images/icons/uparrow-black.png'}
          %select.light.O-input.round-8
            %option{value: 'Public'} Public
            %option{value: 'Friends Only'} Friends Only
            %option{value: 'Private'} Private
          .social.round-8
            %label
              %img.icon{src: '/images/icons/facebook-16.png'}
              %span.name Facebook
              %input.checkbox{type: 'checkbox'}

  / NEW DREAM DATE TIME
  = render :partial => "date_time"

  / NEW DREAM LOCATION
  #newDream-location.newDream_assets.light.transparent-50
    #locationHeader.headers.indent.button
      %img{src: '/images/icons/location-21.png', height: '16', width: '16'}
      location
    %select#locations.light.O-input.round-8
      %option{value: 'Home'} Home
      %option{value: 'The Pearl'} The Pearl
      %option{value: 'Flow Space'} Flow Space
      %option{value: 'Under I580'} Under I580
      %option{value: 'No Location'} No Location
    #newLocation.round-8 New Location
    #locationExpand.hidden
      #name
        %p Location Name
        %input.light.O-input
      #city
        %p City
        %input.light.O-input
      #state
        %p State / province
        %input.light.O-input
      #country
        %p Country
        %input.light.O-input
      %br{:style => 'clear: both'}

  / NEW DREAM IMAGES
  = render :partial => "image_panel"

  / NEW DREAM TAG
  #newDream-tag.newDream_assets.hidden.light.transparent-50
    #tagHeader.headers.indent.button
      tag
      %img{src: '/images/icons/tag-20.png'}
    #tagInputWrap
      %img{src: '/images/slices/inputLeftLight-40.png', width: '26', height: '40'}
      #tagInput
        %input#newTag
        #tagAdd.round8button-0-15 Add
      %img{src: '/images/slices/inputRightLight-40.png', width: '14', height: '40'}
    #tagBrowse.round-8
      %img{src: '/images/icons/browseBars-36-over.png', width: '34', height: '30'}
    #tag-list.tag-list.ui-sortable
      #empty-tag.tag_box.thumb-controls.float-left.hidden.light.C-contrast.round-8
        .content
    #sorting
    %br{style: 'clear: both'}

  / NEW DREAM LINK
  #newDream-link.newDream_assets.hidden.light.transparent-50
    #linksHeader.headers.indent.button
      links
      %img{src: '/images/icons/links-19.png'}
    #linkInputWrap
      %input#linkValue
      #linkAdd.round8button-0-15 Add
    %br{style: 'clear: both;'}
    #linkHolder

  / NEW DREAM MOOD
  #newDream-mood.newDream_assets.hidden.light.transparent-50
    #moodHeader.headers.indent.button
      mood
      %img{src: '/images/icons/mood-19.png'}
    %ul
      <li><a href="/">smilies</a> |</li>
      <li><a href="/">classical</a> |</li>
      <li><a href="/">animals</a> |</li>
      <li><a href="/">emotional profile</a> |</li>

  / NEW DREAM ATTACHMENTS
  #newDream-attach.newDream_assets.light.transparent-50
    %p attach:
    .tag.bevel.button tag
    #attach-images.bevel.button images
    .mood.bevel.button mood
    .links.bevel.button links
    / Save for later .analysis.bevel.button analysis
    .clear-both
