- content_for :head do
  = stylesheet_link_tag 'newDream', "contextBar"
  = javascript_include_tag "dreams"

/ CONTEXT BAR
= render :partial => "shared/context_panel", :locals => {:user => current_user}

/ DREAM ENTRY
#dreamField

  #new_dream-panel.light.O.round-16.glow-40
    #entryTypeWrap
      %span#entryType_current{value: 'Dream'}
      %select#entryType_list
        %option{value: 'Dream'} Dream
        %option{value: 'Vision'} Vision
        %option{value: 'Experience'} Experience
    = form_for @dream do |f|
      = f.text_field :title, :maxlength => '72', :class => 'font-21'
      %hr.alpha-30{style: 'width:662px; margin:6px auto;'}
      = f.text_area :body

      #dreamEntryOptionsBar.round-16.light.C-shine
        #myBooks My Lucid Dreams
        = f.submit :value => 'post', :class => 'button-big-green'
        #visibility Everyone
        #location Local
        #date Date
  
  = render :partial => "image_panel"
  
  #new_dream-tag.round-16.light.transparent-50
    .new_dream_Headers tag
    #tagInputWrap
      %img{src: '/images/slices/inputLeftLight-40.png', width: '26', height: '40'}
      #tagInutTextFrame
        %input#tagInputText
        #tagInputAdd.round8button-0-15 Add
      %img{src: '/images/slices/inputRightLight-40.png', width: '14', height: '40'}
    #tagBrowse.round-8
      %img{src: '/images/icons/browseBars-36-over.png', width: '34', height: '30'}
        
  #new_dream-attach.round-16.light.transparent-50
    %p attach:
    #attach-tag tag
    #attach-images images
    #attach-mood mood
    #attach-links links
    #attach-analysis analysis
