- content_for :head do
  = sass_link_tag 'dreamThumbs', 'contextPanel', 'entryBar', 'tagStream', 'dreamStream', 'friendsList'
  = coffee_script_include_tag 'modal'
  = javascript_include_tag 'tagStream', 'friendslist'


/ CONTEXT PANEL
= render :partial => "stream_context_panel", :locals => {:user => @user}

/ DREAM FIELD
#dreamField

  / NEW ENTRY BAR
  =render :partial => 'entry_bar'
  
  / TAG ENTRY & STREAM
  =render :partial => 'tag_stream'

  / DREAM MATRIX
  .matrix

    / DREAM THUMBS 2D
    /- @dreams.each do |dream|
    /  = render :partial => 'thumb_2d', :locals => {:dream => dream}

    / DREAM THUMBS 1D
    = render :partial => 'dream_thumb_1d'

    / NO DREAMS TO DISPLAY
    - if @dreams.empty?
      .noDreams.hidden.transparent-50.round-16.padding-8.font-21 there are no public dreams to display



/ MODAL WINDOW
/:javascript
/  $(document).ready(function(){ dc.modal(); });



/ DEBUG
/  .transparent-50.round-16.padding-8
/    = debug current_user