.commentsPanel.wrapper
  .trigger.slide
    .commentsHeader.headers
      .img
      <b>comments</b>
      &nbsp; (<span class="counter">#{@comments.count}</span>)
  .clear

  .target.slide
    = render :partial => "entries/comment", :collection => @comments, :locals => {:entry => @entry}

    %a{name: "bottom", href: "#"}

    - if current_user
      .newCommentWrap
        .avatar{style: "background-image: url('#{avatar_image(current_user, 64)}')"}
        .newComment
          / .user= current_user.username
          = form_for [@entry, Comment.new] do |f|
            = f.hidden_field :user_id, :value => current_user.id
            = f.text_area :body, :placeholder => "add comment..."
            = f.submit 'post', :class => 'save'
            .links.hidden
              %img{src: '/images/icons/link-16.png', width: '16', height: '16'}
              links
            .images.hidden
              %img{src: '/images/icons/images-16.png', width: '16', height: '16'}
              image
            .clear

    .clear
