= form_for @entry do |f|
  / HIDDEN FORM ELEMENTS
  = f.fields_for :view_preference_attributes, (@entry.view_preference||current_user.view_preference) do |v|
    = v.hidden_field 'image_id' # Bedsheet
    = v.hidden_field 'theme'    # Currently 'light' or 'dark'
    = v.hidden_field 'bedsheet_attachment'    # Currently 'light' or 'dark'
    - if @entry_mode == 'new' 
      = hidden_field_tag :new_entry_mode, 1 
  
  #entryId{:'data-id' => @entry.id}
  #entryMode{:'data-id' => @entry_mode}
  
  - @entry.images.each do |image|
    = hidden_field_tag 'entry[image_ids][]', image.id, :class => 'image_upload'
  
  / NEW ENTRY INPUT PANEL
  #newEntry

    / .wrapper
    /   MOOD ICON
    /   = render :partial => "mood_icon"

    / .entryType
    /   .typeSelection{style: "background: url('/images/icons/dream-24-active.png') no-repeat center"}
    
    - entry_type = @entry.type ? @entry.type : current_user.default_entry_type
    %select#entryType-list.select-menu.radio.dropdown{name: 'entry[type]', :'data-default-value' => current_user.default_entry_type, :'data-default-name' => 'default_entry_type'}  
      %option.dream{      :value => 'dream',      :selected => entry_type == 'dream'}      dream
      %option.vision{     :value => 'vision',     :selected => entry_type == 'vision'}     vision
      %option.experience{ :value => 'experience', :selected => entry_type == 'experience'} experience
      %option.article{    :value => 'article',    :selected => entry_type == 'article'}    article
      %option.journal{    :value => 'journal',    :selected => entry_type == 'journal'}    journal


    / TITLE AND BODY
    = f.text_field :title, :maxlength => '72', :placeholder => "title"
    %hr
    = f.text_area :body, :placeholder => "My dream..."
    


    #entryOptions


      / BOOKS LIST
      .books-list
        .img

        %select#books-list.select-menu.dropdown
          = render :partial => "books/book_list"


      = f.submit :value => 'post', :'data-disable-with' => "posting       "
      #postSpinner.hidden

      / SHARING PANEL
      - sharing_level = @entry.sharing_level ? @entry.sharing_level : current_user.default_sharing_level
      %select#sharing-list.select-menu.radio{name: "entry[sharing_level]", :'data-default-value' => current_user.default_sharing_level, :'data-default-name' => 'default_sharing_level'}
        = render :partial => "entries/sharing_level", :locals => {:level => sharing_level}

      / .sharingWrap.wrapper
      /   .sharing{'data-id' => "#{@entry.sharing_level ? @entry.sharing_level : current_user.default_sharing_level}"}
      / 
      /     .listSelection{style: "background: url('/images/icons/sharing-24-hover.png') no-repeat center"}
      / 
      /     %select#sharing_select{name: "entry[sharing_level]"}
      /       %option.everyone{   value: Entry::Sharing[:everyone]  } everyone
      /       %option.list{       value: Entry::Sharing[:friends]   } friends only
      /       %option.followers{  value: Entry::Sharing[:followers] } followers only
      /       %option.list.trigger.showHide{value: 'list'           } list of users
      /       %option.anon{       value: Entry::Sharing[:anonymous] } anonymous
      /       %option.private{    value: Entry::Sharing[:private]   } private
      / 
      / 
      /     / SHARING - LIST OF USERS
      /     .listOfUsers.target.showHide.hidden
      /       .searchWrap
      /         / %form.searchForm  !!! This form was breaking all other form elements on the page. tried ruby form and tried unique classes from meta-menu search == no way
      /         %input.searchField{value: 'username...'}
      /         %input.search{type: 'submit', value: ''}
      / 
      /       .userResults
      /         .user
      /           .avatar{style: "background: url('/images/avatars/default-avatar-32.jpg') no-repeat center"}
      /           .username username
      /           .statusIcon.friends
      /           .close
      /         .user
      /           .avatar{style: "background: url('/images/avatars/default-avatar-32.jpg') no-repeat center"}
      /           .username username
      /           .statusIcon.friends
      /           .close
      /         .user
      /           .avatar{style: "background: url('/images/avatars/default-avatar-32.jpg') no-repeat center"}
      /           .username username
      /           .statusIcon.friends
      /           .close
      / 
      /       %label.taggedUsers
      /         .img
      /         %span share with tagged..
      /         %input{type: 'checkbox', name: 'taggedUsers'}
      / 
      /       %label.hideShared
      /         .img
      /         %span hide shared users
      /         %input{type: 'checkbox', name: 'hide'}
      / 
      /     .everyone.target.hidden
      /       .facebook.hidden
      /         %label
      /           %img{src: '/images/icons/facebook-16-hover.png', width: '16', height: '16'}
      /           %span.shareOn share on
      /           %span facebook
      /           %input{type: 'checkbox', name: 'facebook'}
      /       .twitter.hidden
      /         %label
      /           %img{src: '/images/icons/twitter-16.png', width: '16', height: '16'}
      /           %span.shareOn share on
      /           %span twitter
      /           %input{type: 'checkbox', name: 'twitter'}
      /       .buzz.hidden
      /         %label
      /           %img{src: '/images/icons/buzz-16.png', width: '16', height: '15'}
      /           %span buzz
      /           %span.shared shared:
      /           %span.sharedWhen 10 hours ago
      /       .clear

      #entry-location.hidden.tooltip{title: "add your location"}
        .img
      / renamed from entry-date to entry-schmentry as "date", "time", "chronos", etc. seem to be reserved words. DO NOT ADJUST
      #entry-date.tooltip{title: "date and time"}
        .img
      #entry-appearance.tooltip{title: "appearance"}
        .img

  / NEW ENTRY DATE TIME
  = render :partial => "date_time"

  / NEW ENTRY LOCATION
  = render :partial => "location",locals: {f: f}

  / NEW ENTRY IMAGES
  - unless is_ipad?
    = render :partial => "image_panel", locals: {images: @entry.images}



  / NEW ENTRY TAG
  .entryTags.entryPanels
    .tagHeader.headers
      .img
      tag
    .tagInputWrap
      .tagInput
        %input#newTag
        .tagAdd
          %span +
          add
      .tagInputRight

    #tag-list.tag-list.ui-sortable

      .tag.wrapper.tagWhat.newEntry.emptyTag.hidden
        .header.trigger
          .tag-name
        .close

      - @entry.tags.custom.whats.each do |what|
        .tag.tagWhat.newEntry
          .header.trigger
            .tag-name= what.name
          .close
          %input{type: 'hidden', name: 'what_tags[]', value: what.name}

    #sorting.clear




  / NEW ENTRY LINK
  .entryLinks.entryPanels
    .linksHeader.headers
      .img
      links
    #linkInputWrap
      %input#linkValue{:placeholder => "http://yourlink.com"}
      .linkAdd
        %span +
        add
    #linkHolder
      - @entry.links.each do |link|
        .linkContainer{class: link.youtube? ? 'youtube' : '', id: link.id}
          .title
            %input.linkTitleValue{:value => "#{link.title}", name: 'links[][title]', style: "width: 220px"}
          .url
            %input.linkUrlValue{:value => "#{link.url}", name: 'links[][url]', style: "width: 320px"}
            .icon
              %img{:src => "http://www.google.com/s2/favicons?domain_url=#{link.url}"}
          .close
          - if link.youtube?
            .thumb{style: "background: url('') no-repeat center center transparent"}
            .description
    .clear



  / NEW ENTRY EMOTIONS
  .entryEmotions.entryPanels.hidden
    .emotionsHeader.headers
      .img
      emotions
  
    / EMOTION PANEL
    .emotionPanel
      - Emotion.all.each do |emotion|
        %div{class: emotion.name}
          - default = @entry.tags.where(noun: emotion).first._?.intensity || 0
          - (0..4).each do |i|
            - number_word = case i
              - when 0 then 'zero'
              - when 1 then 'one'
              - when 2 then 'two'
              - when 3 then 'three'
              - when 4 then 'four'
            
            %label{class: number_word}
              - if i == 0
                %span= emotion.name
              = radio_button_tag "emotions[#{emotion.name}]", i, (i == default)
    .clear



  / NEW ENTRY ATTACHMENTS
  .entryAttach.entryPanels
    %p attach:
    - unless is_ipad?
      .attach.images
        .img
        images
    .attach.tag
      .img
      tag
    .attach.links
      .img
      links

    .attach.emotions
      .img
      emotions
    .clear
