/ CONTEXT PANEL
#streamContextPanel{'data-filters' => "#{@filters}"}

  / USER INFO
  .userInfo
    %a.avatar-64{href: user_entries_path(user.username), style: "background:url(#{avatar_image(current_user, :medium)}) no-repeat center center"}

    .infoRight
      %a.userName{href: user_entries_path(user.username)}= user.username
      .clear

      %a.following{href: following_path(user.username)}
        .count= user.following.count
        following
      %a.followers{href: followers_path(user.username)}
        .count= user.followers.count
        followers

  / LABEL
  .myStream
    .img
    stream

  .wrapper

    / FILTER BY ENTRY TYPE
    .entryFilter.trigger.slideArrow
      %img.icon{src: '/images/icons/entries-16.png'}
      .arrow
      %span.value all entries
    .filterList.target.slideArrow.hidden
      .type.top{'data-filter' => 'all entries'}
        %img{src: '/images/icons/entries-16.png', width: '16', height: '16'}
        %span all entries
      .type{'data-filter' => 'dream'}
        %img{src: '/images/icons/dream-16-hover.png', width: '16', height: '16'}
        %span dreams
      .type{'data-filter' => 'vision'}
        %img{src: '/images/icons/vision-16-hover.png', width: '16', height: '16'}
        %span visions
      .type{'data-filter' => 'experience'}
        %img{src: '/images/icons/experience-16-hover.png', width: '16', height: '16'}
        %span experiences
      .type.bottom{'data-filter' => 'article'}
        %img{src: '/images/icons/article-16-hover.png', width: '16', height: '16'}
        %span articles

  .wrapper

    / FILTER BY FOLLOW TYPE
    .followFilter.trigger.slideArrow
      %img.icon{src: '/images/icons/sharing-16-hover.png'}
      .arrow
      %span.value all users
    .filterList.target.slideArrow.hidden
      .type.top
        %img{src: '/images/icons/sharing-16-hover.png', width: '16', height: '16'}
        %span all users
      .type
        %img{src: '/images/icons/friend-16.png', width: '16', height: '16'}
        %span friends
      .type.bottom
        %img{src: '/images/icons/friend-16-follow.png', width: '16', height: '16'}
        %span following

  / .wrapper
  / 
  /   .starlightTab.trigger.slideArrow.round-8
  /     %img.icon{src: '/images/icons/starlight-16.png'}
  /     %span starlight
  /     .starlightFilter
  /       %span.value all
  /       .filterList.target.slideArrow.hidden
  /         .type.top
  /           %span high
  /         .type
  /           %span medium
  /         .type.bottom
  /           %span none




