/ CONTEXT PANEL
#streamContextPanel{'data-filters' => "#{@filters}"}

  / USER INFO
  .userInfo
    %a.avatar-64{href: user_entries_path(user.username), style: "background:url(#{avatar_image(current_user, :medium)}) no-repeat center center"}

    .infoRight
      %a.userName{href: user_entries_path(user.username)}= user.username
      .clear

      %a.following{href: following_path(user.username)}
        .count= user.following.count
        following
      %a.followers{href: followers_path(user.username)}
        .count= user.followers.count
        followers

  / LABEL
  .myStream
    .img
    stream


  #entry-filter-wrap
    .spinner
    %select#entry-filter
      %option.allEntries{   value: 'all entries', :selected => false } all entries
      %option.dreams{       value: 'dreams',      :selected => false } dreams
      %option.visions{      value: 'visions',     :selected => false } visions
      %option.experiences{  value: 'experiences', :selected => false  } experiences
      %option.articles{     value: 'articles',    :selected => false } articles
      %option.journals{     value: 'journals',    :selected => false } journals

  #users-filter-wrap
    .spinner
    
    %select#users-filter
      %option.allUsers{   value: 'all users', :selected => false } all users
      %option.friends{    value: 'friends',   :selected => false    } friends
      %option.following{  value: 'following', :selected => false  } following

  .wrapper

  / .wrapper
  / 
  /   .starlightTab.trigger.slideArrow.round-8
  /     %img.icon{src: '/images/icons/starlight-16.png'}
  /     %span starlight
  /     .starlightFilter
  /       %span.value all
  /       .filterList.target.slideArrow.hidden
  /         .type.top
  /           %span high
  /         .type
  /           %span medium
  /         .type.bottom
  /           %span none




