

- kind ||= 'custom'



.tag.wrapper.tagWhat{:'data-id' => what.id, :class => "#{kind == 'auto' ? 'auto' : ''} #{((kind == 'custom') && @entry.user == current_user) ? 'custom' : ''} #{what.dictionary_words.empty? ? '' : 'tagAnalysis'}" }

  .header.trigger{class: (what.dictionary_words.empty? ? '' : 'showhide')}
    - if what.image == nil
      .tag-icon
    - else
      .tag-icon.image{style: "background: url('#{what.image.url}') no-repeat center center transparent"}
    .tag-name= what.name

    .analysis-icon
    .dictionaries dream dictionaries

    .clear

  - if close_button
    .close-16

  .clear

  - unless what.dictionary_words.empty?
    .analysis.target.showhide.hidden
      .gradient

      - what.dictionary_words.each_with_index do |word, i|
        .description{:class => "definition-#{i}"}
          %a.source{href: word.dictionary.attribution, target: '_blank'}= word.dictionary.name
          = simple_format(word.definition)

        - unless i == (what.dictionary_words.count-1)
          .divider






