.wrapper
  .tag.tagWhat{:'data-id' => what.id, :class => "#{@entry.user == current_user ? 'user' : ''} #{what.dictionary_words.empty? ? '' : 'tagAnalysis trigger showhide'}" }
    %span.tagContent= what.name
    - if close_button
      .close-16
    - unless what.dictionary_words.empty?
      .analysisIcon

      .analysis.hidden.target.showhide
        .arrow
        - what.dictionary_words.each_with_index do |word, i|
          .description{:class => "definition-#{i}"}
            %a.source{href: word.dictionary.attribution, target: '_blank'}= word.dictionary.name
            = simple_format(word.definition)

