.wrapper
  .tag.tagWhat.tagAnalysis.trigger.showhide{:'data-id' => what.id, :class => (@entry.user == current_user ? 'user' : '') }
    %span.tagContent= what.name
    - if close_button
      .close-16
    - unless what.dictionary_words.empty?
      .analysisIcon

      .analysis.hidden.target.showhide
        .arrow
        - what.dictionary_words.each_with_index do |word, i|
          - page = i + 1
          .description{:class => "definition-#{i}"}
            = page
            = simple_format(word.definition)
          .source
            dictionary:
            %a{href: word.dictionary.attribution, target: '_blank'}= word.dictionary.name

