- cache([entry, (current_user==entry.user), "thumb2d"]) do
  .thumb-2d{:'data-id' => entry.id}

    / TITLE WATERMARK  (IF NO IMAGE - USE TITLE WATERMARK)
    - unless entry.main_image
      .watermark= entry.title

    / LINK
    %a.link{:href => user_entry_path(entry.user.username, entry)}

    .fadedBack

      .image{style: "background: url('#{dreamfield_header_url(entry.main_image)}') no-repeat center center transparent"}

      / DETAILS (DATE + LOCATION)
      .detailsTop
        %table
          %tr
            %td.date
              .entryType{class: entry.type}
              = time_ago_in_words(entry.dreamed_at)
            / %td.location dream location

      .detailsBottom
        - if new_comments?(entry)
          .comments.new
            .img.comment
            = entry.new_comment_count
        - elsif entry.comments.count > 0
          .comments
            .img.comment
            = entry.comments.count

        - unless entry.everyone?
          .sharing
            .img{class: entry.sharing}
            = entry.sharing

      / TITLE
      .title= entry.title

      / TAG CLOUD
      .tagCloud
        - entry.tags.join_to(What).limit(16).shuffle.each do |tag|
          %div{ class: "s#{tag.position.to_s}" }= tag.noun.name


    .add-active