.thumb-2d{style: "background: url('#{dreamfield_header_url(entry.images.first)}') top center"}

  / LINK
  %a.link{:href => user_entry_path(entry.user.username, entry)}

  .fadedBack

    / TITLE WATERMARK  (IF NO IMAGE - USE TITLE WATERMARK)
    .watermark= entry.title

    / DETAILS (DATE + LOCATION)
    .detailsTop
      .date= time_ago_in_words(entry.created_at)
      .location dream location
    .detailsBottom
      .comments
        = image_tag("icons/comments-16.png")
        = entry.comments.count
      .sharing
        = image_tag("icons/mask-16.png")
        private

    / TITLE
    .title= entry.title

    / TAG CLOUD
    .tags
      - entry.whats.each do |tag|
        .TC.water{class: "s-#{rand(7)+1}"}= tag.name
