.thumb-2d{style: "background: url('/images/art/astral-eyes-banner.jpg') top center", onMouseOver: "$(this).addClass('hover')", onMouseOut: "$(this).removeClass('hover')"}

  / LINK
  %a.link{:href => user_entry_path(entry.user.username, entry)}

  .fadedBack

    / TITLE WATERMARK  (IF NO IMAGE - USE TITLE WATERMARK)
    .watermark= entry.title

    / DETAILS (DATE + LOCATION)
    .detailsTop
      .date= entry.created_at
      .location dream location
    .detailsBottom
      .newComments
      .comments.round-12.float-left
        = image_tag("icons/comments-16.png")
        11
      .sharing.round-12.float-right
        = image_tag("icons/mask-16.png")
        private

    / TITLE
    .title= entry.title

    / TAG CLOUD
    .tags
      <div class="TC s-1 water">device</div>
      <div class="TC s-1 water">dead</div>
      <div class="TC s-1 water">mystical</div>
      <div class="TC s-5 water">project</div>
      <div class="TC s-1 water">class</div>
      <div class="TC s-8 water">duke</div>
      <div class="TC s-1 water">abyss</div>
      <div class="TC s-3 water">art</div>
      <div class="TC s-1 water">trees</div>
      <div class="TC s-3 water">ancient</div>
      <div class="TC s-3 water">goldfinger</div>
      <div class="TC s-1 water">hartman</div>
      <div class="TC s-3 water">janell</div>
      <div class="TC s-1 water">intersection</div>
      <div class="TC s-1 water">dorje</div>
      <div class="TC s-5 water">pit</div>
