.thumb-2d{style: "background: url('/images/art/astral-eyes-banner.jpg') top center"}

  / LINK
  %a.link{:href => user_entry_path(entry.user.username, entry)}

  .fadedBack

    / TITLE WATERMARK  (IF NO IMAGE - USE TITLE WATERMARK)
    .watermark= entry.title

    / DETAILS (DATE + LOCATION)
    .detailsTop
      .date= entry.created_at
      .location dream location
    .detailsBottom
      .newComments
      .comments
        = image_tag("icons/comments-16.png")
        11
      .sharing
        = image_tag("icons/mask-16.png")
        private

    / TITLE
    .title= entry.title

    / TAG CLOUD
    .tags
      - Tag.with_class_sizes_for(entry.tags.limit(16)).each do |tag|
        %div.TC.water{ class: "s-#{tag.class_size}" }= tag.noun.name


