.thumb-2d{style: "background-image: url('#{dreamfield_header_url(entry.images.first)}')"}

  / LINK
  %a.link{:href => user_entry_path(entry.user.username, entry)}

  .fadedBack

    / TITLE WATERMARK  (IF NO IMAGE - USE TITLE WATERMARK)
    .watermark= entry.title

    / DETAILS (DATE + LOCATION)
    .detailsTop
      %table{width: "100%"}
        %tr
          %td.date= time_ago_in_words(entry.created_at)
          %td.location dream location
    .detailsBottom
      .comments
        = image_tag("icons/comments-16.png")
        = entry.comments.count
      .sharing
        %img
        %span= entry.sharing

    / TITLE
    .title= entry.title

    / TAG CLOUD
    .tags
      - entry.whats.each do |tag|
        .TC.water{class: "s-#{rand(7)+1}"}= tag.name
