- content_for :head do
  = sass_link_tag 'entries'
  = coffeescript_include_tag 'modal', 'follow_hover', 'dreamfield'
  = javascript_include_tag 'tag_stream', 'dreams', 'geo'

/ CONTEXT PANEL
= render :partial => "users/context_panel", :locals => {:user => @user}

/ DREAM FIELD
#entryField
  / PAGE HEADER
  - if @type_filter
    .pageHeader.dreamHeader
      .img{"style" => "background-image: url(#{dreamfield_header_image})"}
      %h1= @type_filter._?.pluralize || "all entries"
    .clear
  
  / NEW ENTRY BAR
  / TAG ENTRY & STREAM

  / DREAM MATRIX
  .matrix

    - @entries.each do |entry|
      / DREAM THUMBS 2D
      = render :partial => 'thumb_2d', :locals => {:entry => entry}

    - unless (@user == current_user) && @entries.empty?
      .thumb-2d.pagination
        .icon
        .all show all

    - if (@user == current_user) && @entries.empty?
      / NEW LOGIN SPLASH
      = render :partial => "new_login", :locals => {:user => @user}

    - elsif @entries.empty?
      / NO DREAMS TO DISPLAY
      .noEntrys there are no public entries to display


    / APPLIES SELECTED CLASS TO META MENU
    - if @user == current_user
      :coffeescript
        $('.item.home').addClass('selected')
        
    #nextPageLoading.hidden
      %img{src: "/images/icons/spinner-grey-32.gif", alt: ""}
      %span accessing dream field

    #noMoreEntries.hidden
      you've reached the end of the stream 
    
  .clear
  %a.next{href: '#'} next     
