- content_for :head do
  = sass_link_tag 'entries'
  = coffeescript_include_tag 'modal', 'follow_hover'
  = javascript_include_tag 'tag_stream', 'dreams', 'geo' # 'friendslist'


/ CONTEXT PANEL
= render :partial => "users/context_panel", :locals => {:user => @user}

/ DREAM FIELD
#entryField

  / NEW ENTRY BAR
  / TAG ENTRY & STREAM

  / DREAM MATRIX
  .matrix

    / DREAM THUMBS 2D
    - @entries.each do |entry|
      = render :partial => 'thumb_2d', :locals => {:entry => entry}

    / NEW LOGIN SPLASH
    - if @entries.empty?
    = render :partial => "new_login"

    / NO DREAMS TO DISPLAY
    - if @entries.empty?
      .noEntrys there are no public entries to display
