- content_for :head do
  = sass_link_tag 'entries'
  = include_javascripts :entries
  :coffeescript
    $( ->
      dreamfieldController = new DreamfieldController('#{@user.username}')
    )
  
/ CONTEXT PANEL
= render :partial => "users/context_panel", :locals => {:user => @user}

/ DREAM FIELD
#entryField
  / PAGE HEADER
  - if @filters[:type]
    .pageHeader.dreamHeader
      .img{"style" => "background-image: url(#{dreamfield_header_image})"}
      %h1= @filters[:type].pluralize
    .clear
  
  / NEW ENTRY BAR
  / TAG ENTRY & STREAM

  / DREAM MATRIX
  .matrix

    - @entries.each do |entry|
      / DREAM THUMBS 2D
      = render :partial => 'thumb_2d', :locals => {:entry => entry}



    - if !@entries.empty? && @entry_count > @filters[:page_size]
      #pagination
        %a.next{href: "/#{@user.username}?page=1&show_all=true"}
          %span more
        %a.all{href: "/#{@user.username}?page=1&show_all=true", style: "#{is_ipad? ? 'display: block' : ''}"} show all 
        - @pagesize




    - if (@user == current_user) && @entries.empty?
      / NEW LOGIN SPLASH
      = render :partial => "new_login", :locals => {:user => @user}

    - elsif @entries.empty?
      / NO DREAMS TO DISPLAY
      .noEntrys there are no public entries to display


/ APPLIES SELECTED CLASS TO META MENU
- if @user == current_user
  :coffeescript
    $('.item.home').addClass('selected')

