- content_for :head do
  = stylesheet_link_tag 'IB_manager'
- content_for :foot do
  = javascript_include_tag 'autoresize.jquery.min', 'geo', 'userfileuploader', 'dreams'
  = javascript_include_tag 'http://maps.google.com/maps/api/js?sensor=false'
  = coffeescript_include_tag 'tag', 'dream', 'sharing'
/ CONTEXT BAR
= render :partial => "users/context_panel", :locals => {:user => current_user}

/ ENTRY
#entryField

  = form_for @entry do |f|

    / NEW ENTRY INPUT PANEL
    #newEntry

      .wrapper
        / MOOD ICON
        = render :partial => "mood_icon"

      .entryType.border
        %img{src: '/images/icons/dream-32.png'}
        %span#entryType_current{value: 'Dream'}
        %select#entryType_list
          %option{value: 'Dream'} Dream
          %option{value: 'Vision'} Vision
          %option{value: 'Experience'} Experience


      = f.text_field :title, :maxlength => '72', :class => 'font-21'
      %hr.alpha-30{style: 'width:662px; margin:6px auto;'}
      = f.text_area :body

      #entryOptions.shine.round-16
        /
          Save for later  
          .myBooks.indent.button
            %img{src: '/images/icons/books-16.png'} My Lucid Dreams

        = f.submit :value => 'post', :class => 'shine button save'
        .sharing.indent.button
          %img{src: '/images/icons/share-16.png'} Everyone
          = f.select 'sharing_level', Entry::Sharing.map{|share, level| [share.to_s.titleize, level]}
        .addLocation.indent.button
          %img{src: '/images/icons/location-21.png'}
        .date.indent.button
          %img{src: '/images/icons/date-19.png'}

        /
          NEW ENTRY SHARING
          #share.round-8
            %img.arrow{src: '/images/icons/uparrow-black.png'}
            %select.input.round-8
              %option{value: 'Public'} Public
              %option{value: 'Friends Only'} Friends Only
              %option{value: 'Private'} Private
            .social.round-8
              %label
                %img.icon{src: '/images/icons/facebook-16.png'}
                %span.name Facebook
                %input.checkbox{type: 'checkbox'}

    / NEW ENTRY DATE TIME
    = render :partial => "date_time"

    / NEW ENTRY LOCATION
    = render :partial => "location"

    / NEW ENTRY IMAGES
    = render :partial => "image_panel"

    / NEW ENTRY TAG
    .entryTags.entryAssets.hidden.shine-alpha
      .tagHeader.headers.indent.button
        tag
        %img{src: '/images/icons/tag-20.png'}
      .tagInputWrap
        %img{src: '/images/slices/inputLeftLight-40.png', width: '26', height: '40'}
        .tagInput
          %input#newTag
          .tagAdd.button.bevel.round-4
            %span +
            Add
        %img{src: '/images/slices/inputRightLight-40.png', width: '14', height: '40'}
      #tagBrowse.round-8
        %img{src: '/images/icons/browseBars-36-over.png', width: '34', height: '30'}
      #tag-list.tag-list.ui-sortable
        #empty-tag.tag_box.thumb-controls.float-left.hidden.light.round-8
          .content
        - @entry.whats.each do |what|
          .tag_box.thumb-controls.float-left.light.round-8
            .content= what.name
          
        %br{style: 'clear: both;'}
      #sorting.clear-both

    / NEW ENTRY LINK
    .entryLinks.entryAssets.hidden.shine-alpha
      .linksHeader.headers.indent.button
        links
        %img{src: '/images/icons/links-19.png'}
      #linkInputWrap
        %input#linkValue
        .linkAdd.button.bevel.round-4
          %span +
          Add
      .clear-both
      #linkHolder

    / NEW ENTRY MOOD
    .entryMood.entryAssets.hidden.shine-alpha
      .moodHeader.headers.indent.button
        mood
        %img{src: '/images/icons/mood-19.png'}

      / MOOD PICKER
      .moodPicker.transparent-50.round-12
        .love
          %label.one.round-16-left
            %span Love
            %input{type: 'radio', name: 'love'}
          %label.two
            %input{type: 'radio', name: 'love'}
          %label.three
            %input{type: 'radio', name: 'love'}
          %label.four
            %input{type: 'radio', name: 'love'}
          %label.five.round-16-right
            %input{type: 'radio', name: 'love'}
        .joy
          %label.one.round-16-left
            %span Joy
            %input{type: 'radio', name: 'joy'}
          %label.two
            %input{type: 'radio', name: 'joy'}
          %label.three
            %input{type: 'radio', name: 'joy'}
          %label.four
            %input{type: 'radio', name: 'joy'}
          %label.five.round-16-right
            %input{type: 'radio', name: 'joy'}
        .surprise
          %label.one.round-16-left
            %span Surprise
            %input{type: 'radio', name: 'surprise'}
          %label.two
            %input{type: 'radio', name: 'surprise'}
          %label.three
            %input{type: 'radio', name: 'surprise'}
          %label.four
            %input{type: 'radio', name: 'surprise'}
          %label.five.round-16-right
            %input{type: 'radio', name: 'surprise'}
        .anger
          %label.one.round-16-left
            %span Anger
            %input{type: 'radio', name: 'anger'}
          %label.two
            %input{type: 'radio', name: 'anger'}
          %label.three
            %input{type: 'radio', name: 'anger'}
          %label.four
            %input{type: 'radio', name: 'anger'}
          %label.five.round-16-right
            %input{type: 'radio', name: 'anger'}
        .mystical
          %label.one.round-16-left
            %span Mystical
            %input{type: 'radio', name: 'mystical'}
          %label.two
            %input{type: 'radio', name: 'mystical'}
          %label.three
            %input{type: 'radio', name: 'mystical'}
          %label.four
            %input{type: 'radio', name: 'mystical'}
          %label.five.round-16-right
            %input{type: 'radio', name: 'mystical'}
        .wonder
          %label.one.round-16-left
            %span Wonder
            %input{type: 'radio', name: 'wonder'}
          %label.two
            %input{type: 'radio', name: 'wonder'}
          %label.three
            %input{type: 'radio', name: 'wonder'}
          %label.four
            %input{type: 'radio', name: 'wonder'}
          %label.five.round-16-right
            %input{type: 'radio', name: 'wonder'}
        .sadness
          %label.one.round-16-left
            %span Sadness
            %input{type: 'radio', name: 'sadness'}
          %label.two
            %input{type: 'radio', name: 'sadness'}
          %label.three
            %input{type: 'radio', name: 'sadness'}
          %label.four
            %input{type: 'radio', name: 'sadness'}
          %label.five.round-16-right
            %input{type: 'radio', name: 'sadness'}
        .stress
          %label.one.round-16-left
            %span Stress
            %input{type: 'radio', name: 'stress'}
          %label.two
            %input{type: 'radio', name: 'stress'}
          %label.three
            %input{type: 'radio', name: 'stress'}
          %label.four
            %input{type: 'radio', name: 'stress'}
          %label.five.round-16-right
            %input{type: 'radio', name: 'stress'}
        .fear
          %label.one.round-16-left
            %span Fear
            %input{type: 'radio', name: 'fear'}
          %label.two
            %input{type: 'radio', name: 'fear'}
          %label.three
            %input{type: 'radio', name: 'fear'}
          %label.four
            %input{type: 'radio', name: 'fear'}
          %label.five.round-16-right
            %input{type: 'radio', name: 'fear'}
        .clear-both


    / NEW ENTRY ATTACHMENTS
    .entryAttach.entryAssets.shine-alpha
      %p attach:
      .images.bevel.button
        %img{src: '/images/icons/eye-images-16.png', width: '19', height: '13'}
        images
      .tag.bevel.button
        %img{src: '/images/icons/tag-20.png', width: '20', height: '20'}
        tag
      .links.bevel.button
        %img{src: '/images/icons/links-19.png', width: '19', height: '19'}
        links
      .mood.bevel.button
        %img{src: '/images/icons/mood-19.png', width: '19', height: '19'}
        mood
      / Save for later .analysis.bevel.button analysis
      .clear-both
