- content_for :head do
  = sass_link_tag 'entries'
  = stylesheet_link_tag 'IB_manager'
  = javascript_include_tag 'browserdetect'
:coffeescript
  require({baseUrl: "/javascripts"}, ['autoresize.jquery.min', 'userfileuploader', 'dreams', 'geo' ])
  require({baseUrl: "/javascripts/compiled"}, ['tag', 'newentry', 'sharing', 'inject', 'cookies', 'entries'])

- content_for :foot do
  = javascript_include_tag 'http://maps.google.com/maps/api/js?sensor=false'
    

/ CONTEXT BAR
= render :partial => "users/context_panel", :locals => {:user => current_user}

/ ENTRY
#entryField

  = form_for @entry do |f|
    / HIDDEN FORM ELEMENTS
    
    = f.fields_for :view_preference_attributes, (@entry.view_preference||current_user.view_preference) do |v|
      = v.hidden_field 'image_id' # Bedsheet
      = v.hidden_field 'theme'    # Currently 'light' or 'dark'

    - @entry.images.each do |image|
      = hidden_field_tag 'entry[image_ids][]', image.id, :class => 'image_upload'
    
    / NEW ENTRY INPUT PANEL
    #newEntry

      .wrapper
        / MOOD ICON
        /= render :partial => "mood_icon"

      .entryType
        %img.typeSelection{src: '/images/icons/dream-32.png'}
        %select#entryType_list{name: 'entry[type]'}
          %option.dream{:value => 'dream', :selected => @entry.type == 'dream'} dream
          %option.vision{:value => 'vision', :selected => @entry.type == 'vision'} vision
          %option.experience{:value => 'experience', :selected => @entry.type == 'experience'} experience
          %option.article{:value => 'article', :selected => @entry.type == 'article'} article


      / TITLE AND BODY
      = f.text_field :title, :maxlength => '72', :placeholder => "title"
      %hr
      = f.text_area :body, :placeholder => "My dream..."
      


      #entryOptions
        /
          Save for later
          .myBooks
            %img{src: '/images/icons/books-16.png'} My Lucid Dreams

        = f.submit :value => 'post'

        // SHARING PANEL
        .sharingWrap
          .sharing
            %img.listSelection{src: '/images/icons/share-24.png'}
            %select#sharing_select{name: "entry[sharing_level]"}
              %option.everyone{value: '500'} everyone
              %option.list{value: 'list'} friends only
              %option.anon{value: '50'} anonymous
              %option.private{value: '0'} private

            .listOfUsers.target.hidden
              .friendsOnly
                %label
                  %input{value:'200', type: 'radio', name: 'listOfUsers'}
                  %span friends only
              .followersOnly
                %label
                  %input{value:'150', type: 'radio', name: 'listOfUsers'}
                  %span followers only

            .everyone.target.hidden
              .facebook.hidden
                %label
                  %img{src: '/images/icons/facebook-16.png', width: '16', height: '16'}
                  %span.shareOn share on
                  %span facebook
                  %input{type: 'checkbox', name: 'facebook'}
              .twitter.hidden
                %label
                  %img{src: '/images/icons/twitter-16.png', width: '16', height: '16'}
                  %span.shareOn share on
                  %span twitter
                  %input{type: 'checkbox', name: 'twitter'}
              .buzz.hidden
                %label
                  %img{src: '/images/icons/buzz-16.png', width: '16', height: '15'}
                  %span buzz
                  %span.shared shared:
                  %span.sharedWhen 10 hours ago
              .clear

        .addLocation
          .img
          = render partial: "shared/hover_label", locals: {message: "add your location", x: "21", y: "-38"}
        .date
          .img
          = render partial: "shared/hover_label", locals: {message: "date and time", x: "21", y: "-38"}
        .addTheme
          .img{onclick: "$.publish('toggleAppearance', [this])"}
          = render partial: "shared/hover_label", locals: {message: "appearance", x: "21", y: "-38"}



    / NEW ENTRY DATE TIME
    = render :partial => "date_time"

    / NEW ENTRY LOCATION
    = render :partial => "location"

    / NEW ENTRY IMAGES
    = render :partial => "image_panel", locals: {images: @entry.images}



    / NEW ENTRY TAG
    .entryTags.entryPanels.hidden
      .tagHeader.headers
        .img
        tag
      .tagInputWrap
        .tagInput
          %input#newTag{:placeholder => "who / what / where"}
          .tagAdd
            %span +
            add
        .tagInputRight

      #tag-list.tag-list.ui-sortable
        .emptyTag.tag.tag_what.hidden
          %span.tagContent
          .close-16
        - @entry.custom_tags.each do |what|
          .tag_what.tag
            %span.tagContent= what.name
            .close-16

        .clear
      #sorting.clear




    / NEW ENTRY LINK
    .entryLinks.entryPanels.hidden
      .linksHeader.headers
        .img
        links
      #linkInputWrap
        %input#linkValue{:placeholder => "http://yourlink.com"}
        .linkAdd
          %span +
          add
      #linkHolder
        - @entry.links.each do |link|
          .linkContainer{class: link.youtube? ? 'youtube' : ''}
            .title
              %input.linkTitleValue{:value => "#{link.title}", name: 'entry[links_attributes][][title]', style: "width: 220px"}
            .url
              %input.linkUrlValue{:value => "#{link.url}", name: 'entry[links_attributes][][url]', style: "width: 320px"}
              .icon
                %img{:src => "http://www.google.com/s2/favicons?domain_url=#{link.url}"}
            .close-22
            - if link.youtube?
              .thumb{style: "background: url('') no-repeat center center transparent"}
              .description
      .clear




    / NEW ENTRY EMOTIONS
    .entryEmotions.entryPanels.hidden
      .emotionsHeader.headers
        .img
        emotions

      / MOOD PICKER
      .moodPicker
        .love
          %label.one
            %span love
            = radio_button_tag 'love', 1, true
          %label.two
            = radio_button_tag 'love', 2
          %label.three
            = radio_button_tag 'love', 3
          %label.four
            = radio_button_tag 'love', 4
          %label.five
            = radio_button_tag 'love', 5
        .joy
          %label.one
            %span joy
            = radio_button_tag 'joy', 1, true
          %label.two
            = radio_button_tag 'joy', 2
          %label.three
            = radio_button_tag 'joy', 3
          %label.four
            = radio_button_tag 'joy', 4
          %label.five
            = radio_button_tag 'joy', 5
        .surprise
          %label.one
            %span surprise
            = radio_button_tag 'surprise', 1, true
          %label.two
            = radio_button_tag 'surprise', 2
          %label.three
            = radio_button_tag 'surprise', 3
          %label.four
            = radio_button_tag 'surprise', 4
          %label.five
            = radio_button_tag 'surprise', 5
        .anger
          %label.one
            %span anger
            = radio_button_tag 'anger', 1, true
          %label.two
            = radio_button_tag 'anger', 2
          %label.three
            = radio_button_tag 'anger', 3
          %label.four
            = radio_button_tag 'anger', 4
          %label.five
            = radio_button_tag 'anger', 5
        .mystical
          %label.one
            %span mystical
            = radio_button_tag 'mystical', 1, true
          %label.two
            = radio_button_tag 'mystical', 2
          %label.three
            = radio_button_tag 'mystical', 3
          %label.four
            = radio_button_tag 'mystical', 4
          %label.five
            = radio_button_tag 'mystical', 5
        .wonder
          %label.one
            %span wonder
            = radio_button_tag 'wonder', 1, true
          %label.two
            = radio_button_tag 'wonder', 2
          %label.three
            = radio_button_tag 'wonder', 3
          %label.four
            = radio_button_tag 'wonder', 4
          %label.five
            = radio_button_tag 'wonder', 5
        .sadness
          %label.one
            %span sadness
            = radio_button_tag 'sadness', 1, true
          %label.two
            = radio_button_tag 'sadness', 2
          %label.three
            = radio_button_tag 'sadness', 3
          %label.four
            = radio_button_tag 'sadness', 4
          %label.five
            = radio_button_tag 'sadness', 5
        .stress
          %label.one
            %span stress
            = radio_button_tag 'stress', 1, true
          %label.two
            = radio_button_tag 'stress', 2
          %label.three
            = radio_button_tag 'stress', 3
          %label.four
            = radio_button_tag 'stress', 4
          %label.five
            = radio_button_tag 'stress', 5
        .fear
          %label.one
            %span fear
            = radio_button_tag 'fear', 1, true
          %label.two
            = radio_button_tag 'fear', 2
          %label.three
            = radio_button_tag 'fear', 3
          %label.four
            = radio_button_tag 'fear', 4
          %label.five
            = radio_button_tag 'fear', 5
      .clear




    / NEW ENTRY ATTACHMENTS
    .entryAttach.entryPanels
      %p attach:
      .attach.images
        %img{src: '/images/icons/eye-images-16.png', width: '19', height: '13'}
        images
      .attach.tag
        %img{src: '/images/icons/tag-20.png', width: '20', height: '20'}
        tag
      .attach.links
        %img{src: '/images/icons/links-19.png', width: '19', height: '19'}
        links
      .attach.mood
        %img{src: '/images/icons/mood-19.png', width: '19', height: '19'}
        emotions
      .clear

