- content_for :head do
  = include_javascripts 'show_entry'
  
  - if !@entry.body.blank?
    %meta{name: "description", content: "#{simple_format(@entry.body).gsub(%r{</?[^>]+?>}, '')}"}
    
  - if @entry._?.main_image
    %meta{name:"og:image", content:"http://dreamcatcher.net#{@entry.main_image.url(:facebook)}"}

/ CONTEXT PANEL
= render :partial => "users/context_panel", :locals => {:user => @entry.user}

#entryField{:'data-owner' => @entry.user == current_user ? 'true' : 'false'}

  #showEntry
    = render :partial => 'entries/show'

