- content_for :head do
  = sass_link_tag 'entries'
- content_for :foot do
  = coffeescript_include_tag 'tag', 'dream'



/ CONTEXT PANEL
= render :partial => "users/context_panel", :locals => {:user => @entry.user}



#entryField

  / SHOW ENTRY
  #showEntry

    .type Dream

    %a.next.cancel{href: entries_path}
      %span &rsaquo;
    .stream.cancel stream
    %a.prev.cancel{href: entries_path}
      %span &lsaquo;

    %a.editEntry.confirm{href: edit_entry_path(@entry)} edit
    = button_to('delete', entry_path(@entry), {:method => :delete, class: 'editEntry alpha-60 button delete bevel round-16'})


    / 
      Save for later
      .books.button.round-8 My Book of Dreams

    / HEADER IMAGE & TITLE
    .imageHeader

      / MOOD ICON
      .moodIcon
        %img{src: '/images/moods/plants/Fungi.png'}

      .title= @entry.title

    .content

      / BODY
      .body= @entry.body

      / IMAGE GALLERY
      %ul.gallery
        %li
        %li
        %li
        %li
        %li
        %li
        %li
        %li
        %li
        %li
      .clear-both

      / ENTRY LINKS
      .entryLinks
        .link
          %img{src: '/images/icons/facebook-16.png'}
          %span Link on Facebook
        .link
          %img{src: '/images/icons/link-16.gif'}
          %span Link on WWW
        .link
          %img{src: '/images/icons/facebook-16.png'}
          %span Another Related Dream
        .clear-both

      / INFO
      .entryInfo
        .postTime 2 hours ago
        .postLocation Tokyo, Japan
        .starlightCount
          %img.starlight{src: '/images/icons/starlight-22.png'}
          %span 23,243
        .shareOptions
          .option.love.selected
          .option.share
          .option.repost.selected
        .clear-both
      .clear-both

    / TAG
    .entryTags
      .tagHeader.headers
        tag
        %img{src: '/images/icons/tag-20.png'}
      .tagThisEntry
        %span +
        Tag this dream
      %img.tagCheck.hidden{src: '/images/icons/check-33.png', width: '33', height: '33'}
      .tagInputWrap.hidden
        %img{src: '/images/slices/inputLeftLight-40.png', width: '26', height: '40'}
        .tagInput
          %input#newTag
          .tagAdd
            %span +
            Add
        %img{src: '/images/slices/inputRightLight-40.png', width: '14', height: '40'}
      .target
        #tag-list.tag-list.ui-sortable
          #empty-tag.tag_box.thumb-controls.hidden
            .tagContent
          - @entry.whats.each do |what|
            .tag_box.thumb-controls
              .tagContent= what.name
            
          %br{style: 'clear: both;'}
        #sorting
        %br{style: 'clear: both'}



    / ANALYSIS
    .entryAnalysis.wrapper
      .trigger.slide
        .analysisHeader.headers
          analysis
          %img{src: '/images/icons/analysis-10.png', width: '10', height: '16'}
        .clear-both

      .target.slide
        / ANALYSIS TAGS
        .analysisTags.wrapper
          .title.trigger.slide{style: 'background: url(/images/avatars/xavitar.jpg) no-repeat top left'}
            dolphin
            .arrow
          .description.target.slide.hidden
            To dream that you are flying, signifies a sense of freedom where you had initially felt restricted and limited. To dream that you are flying with black wings, signifies bitter disappointments.
            %br
            .source Dream Moods

        .analysisTags.wrapper
          .title.trigger.slide{style: 'background: url(/images/avatars/xavitar.jpg) no-repeat top left'}
            tsunami
            .arrow

        .analysisTags.wrapper
          .title.trigger.slide{style: 'background: url(/images/avatars/xavitar.jpg) no-repeat top left'}
            flying
            .arrow
          .clear-both
          %P To dream that you are flying, signifies a sense of freedom where you had initially felt restricted and limited. To dream that you are flying with black wings, signifies bitter disappointments.
          .source Dream Moods
          .clear-both

        .analysisTags.wrapper
          .title.trigger.slide{style: 'background: url(/images/avatars/xavitar.jpg) no-repeat top left'}
            telepathy
            .arrow




    / COMMENTS
    .commentsPanel
      .trigger.slide
        .commentsHeader.headers
          comments
          %img{src: '/images/icons/comments-16.png', width: '16', height: '16'}
          .counter (6)
      .clear-both
      .target.slide
        .newCommentWrap
          .avatar
          .newComment
            %textarea
            .save post
            .links
              %img{src: '/images/icons/link-16.gif', width: '16', height: '16'}
              links
            .images
              %img{src: '/images/icons/eye-images-16.png', width: '19', height: '13'}
              images
          .clear-both

        .prevCommentWrap
          .avatar
          .prevComment
            .user iotus
            .postTime 15 minutes ago
            %ul
              %li
              %li
              %li
              %li
            .comment Check it out, did it look like this?? 
            .rePost
              %img{src: '', width: '16', height: '16'}
              Another Related Dream
          .clear-both

        .clear-both

