- content_for :head do
  = sass_link_tag 'entries'
- content_for :foot do
  = coffeescript_include_tag 'tag', 'showentry'



/ CONTEXT PANEL
= render :partial => "users/context_panel", :locals => {:user => @entry.user}



#entryField

  / SHOW ENTRY
  #showEntry{:'data-id' => @entry.id }

    .type Dream

    %a.next.cancel{href: entries_path}
      %span &rsaquo;
    .stream.cancel stream
    %a.prev.cancel{href: entries_path}
      %span &lsaquo;

    %a.editEntry.confirm{href: edit_entry_path(@entry)} edit
    = button_to('delete', entry_path(@entry), {:method => :delete, class: 'editEntry delete'})


    / 
      Save for later
      .books.button.round-8 My Book of Dreams

    / HEADER IMAGE & TITLE
    .imageHeader{style: 'background: url(/images/bedsheets/air-01.jpg) no-repeat top left'}

      / MOOD ICON
      .moodIcon
        %img{src: '/images/moods/plants/Fungi.png'}

      / STARLIGHT COUNT & SHARE OPTIONS
      .starlight_share
        %img.starlight{src: '/images/icons/starlight-22.png'}
        %span 23,243
        %hr
        .option.love.selected
        .option.share
        .option.repost.selected
        
      .title= @entry.title

    .content

      / BODY
      .body= @entry.body

      / IMAGE GALLERY
      %ul.gallery
        %li
        %li
        %li
        %li
        %li
        %li
        %li
        %li
        %li
        %li
      .clear

      / ENTRY LINKS
      .entryLinks
        .link
          %img{src: '/images/icons/facebook-16.png'}
          %span Link on Facebook
        .link
          %img{src: '/images/icons/link-16.gif'}
          %span Link on WWW
        .link
          %img{src: '/images/icons/facebook-16.png'}
          %span Another Related Dream
        .clear

      / TAG
      .showTags
        .tagHeader.headers
          tag
          %img{src: '/images/icons/tag-20.png'}

        .wrapper
          .tagInput.target
            %input#newTag{value: 'who/where/what'}
          .tagThisEntry.trigger
            %span +
            add

          / POST TIME & LOCATION
          .postTime 2 hours ago
          .postLocation Tokyo, Japan


          #tag-list.tag-list.ui-sortable.target

            .tagWhat.tagNoImage
              %span Dolphin
              .analysisIcon

            .tagWhere
              .whereIcon
              %span San Francisco

            .tagWho
              .avatar
              %span Xavi
              .followStatus

            .tagWhat
              .tagImage
              %span Tsunami

            .tagNoImage
              %span Just Text

            #empty-tag.tag.hidden
              %span.tagContent
            - @entry.whats.each do |what|
              .tagWhat.tag{:'data-id' => what.id }
                %span.tagContent= what.name

            .clear
          #sorting
          .clear


    / COMMENTS
    .commentsPanel
      .trigger.slide
        .commentsHeader.headers
          comments
          %img{src: '/images/icons/comments-16.png', width: '16', height: '16'}
          .counter (6)
      .clear
      .target.slide
        .newCommentWrap
          .avatar
          .newComment
            %textarea
            .save post
            .links
              %img{src: '/images/icons/link-16.gif', width: '16', height: '16'}
              links
            .images
              %img{src: '/images/icons/eye-images-16.png', width: '19', height: '13'}
              images
          .clear

        .prevCommentWrap
          .avatar
          .prevComment
            .user iotus
            .postTime 15 minutes ago
            %ul
              %li
              %li
              %li
              %li
            .comment Check it out, did it look like this?? 
            .rePost
              %img{src: '', width: '16', height: '16'}
              Another Related Dream
          .clear

        .clear

