- content_for :head do
  = sass_link_tag 'entries'
  = stylesheet_link_tag 'jquery.lightbox-0.5.css'
- content_for :foot do
  = coffeescript_include_tag 'tag', 'showentry'
  = javascript_include_tag 'jquery.lightbox-0.5.pack.js'



/ CONTEXT PANEL
= render :partial => "users/context_panel", :locals => {:user => @entry.user}



#entryField

  / SHOW ENTRY
  #showEntry{:'data-id' => @entry.id, :class => @entry.images.blank? ? "noImage" : "" }

    .type Dream

    %a.next.cancel{href: entries_path}
      %span &rsaquo;
    .stream.cancel stream
    %a.prev.cancel{href: entries_path}
      %span &lsaquo;

    %a.editEntry{href: edit_entry_path(@entry)} edit
    = link_to 'delete', entry_path, :confirm => "Really?", :method => 'DELETE', :class => "deleteEntry"

    / 
      Save for later
      .books.button.round-8 My Book of Dreams

    .content

      / HEADER IMAGE & TITLE
      .imageHeader{style: "background: url(#{dream_header_url(@entry.images.first)}) no-repeat top left"}

      / 
        MOOD ICON
        .moodIcon
          %img{src: '/images/moods/plants/Fungi.png'}

      / STARLIGHT COUNT & SHARE OPTIONS
      .starlight_share
        %img.starlight{src: '/images/icons/starlight-22.png'}
        %span 23,243
        %hr
        .option.love.selected
        /
          SAVE FOR LATER
          .option.share
          .option.repost.selected
        
      .title= @entry.title

      / BODY
      .body= @entry.body

      / IMAGE GALLERY
      %ul.gallery
        - @entry.images.each do |image|
          = gallery_list_item(image)
      .clear

      / ENTRY LINKS
      .entryLinks
        .link
          %img{src: '/images/icons/facebook-16.png'}
          %span Link on Facebook
        .link
          %img{src: '/images/icons/link-16.gif'}
          %span Link on WWW
        .link
          %img{src: '/images/icons/facebook-16.png'}
          %span Another Related Dream
        .clear

      / TAG
      .showTags
        .tagHeader.headers
          tag
          %img{src: '/images/icons/tag-20.png'}

        .wrapper
          .tagInput.target
            %input#newTag{placeholder: 'who/where/what'}
          .tagThisEntry.trigger
            %span +
            add

          / POST TIME & LOCATION
          .postTime= time_ago_in_words(@entry.created_at)
          .postLocation Tokyo, Japan


          #tag-list.tag-list.ui-sortable.target

            .tagWhat.tagNoImage
              %span Dolphin
              .analysisIcon{style: 'background: url(/images/icons/analysis-16.png) no-repeat center'}

            .tagWhere
              .whereIcon{style: 'background: url(/images/icons/tagWhere-24.png) no-repeat center'}
              %span San Francisco

            .tagWho
              .avatar{style: 'background: url(/images/avatars/xavitar.jpg) no-repeat'}
              %span Xavi
              .followStatus{style: 'background: url(/images/icons/friend-none-16.png) no-repeat center'}

            .tagWhat
              .tagImage{style: 'background: url(/images/avatars/xavitar.jpg) no-repeat'}
              %span Tsunami

            .tagNoImage
              %span Just Text

            #empty-tag.hidden
              %span.tagContent
            - @entry.whats.each do |what|
              .tagWhat.tag{:'data-id' => what.id }
                %span.tagContent= what.name

            / .clear
          #sorting
          .clear


    / COMMENTS
    .commentsPanel
      .trigger.slide
        .commentsHeader.headers
          comments
          %img{src: '/images/icons/comments-16.png', width: '16', height: '16'}
          .counter= "(#{@comments.count})"
      .clear
      
      .target.slide
        - @comments.each do |comment|
          = render :partial => "entries/comment", :object => comment
        
        .newCommentWrap
          .avatar{ style: "background-image: url('#{avatar_image(current_user, 64)}')"}
          .newComment
            = form_for [@entry, Comment.new], :remote => true do |f|
              = f.hidden_field :user_id, :value => current_user.id
              = f.text_area :body
              = f.submit 'post', :class => 'save'
              .links.hidden
                %img{src: '/images/icons/link-16.gif', width: '16', height: '16'}
                links
              .images.hidden
                %img{src: '/images/icons/eye-images-16.png', width: '19', height: '13'}
                image
          .clear
        
        .clear

