- content_for :head do
  -#= include_javascripts 'show_entry'

  - if !@entry.body.blank?
    %meta{property: "description", content: "#{simple_format(@entry.body).gsub(%r{</?[^>]+?>}, '')}"}

  %meta{property: "og:title", content: "Dreamcatcher: #{@entry.title.blank? ? @entry.body[0..100] : @entry.title}"}
  %meta{property: "og:type", content: "article"}
  %meta{property: "og:url", content: request.url}
  - @entry.images.each do |image|
    %meta{property: "og:image", content: "http://#{request.url}#{image.url(:facebook)}"}

/ CONTEXT PANEL
= render :partial => "common/context_panel", :locals => {:user => @entry.user}

#entryField{:'data-owner' => @entry.user == current_user ? 'true' : 'false'}
  #entriesIndex{style: 'display:none'}
    .matrix.books
  #showEntry
    = render :partial => 'entries/show'
  #newEditEntry{style: 'display:none'}


