- content_for :head do
  = sass_link_tag 'entries'
  :coffeescript
    require(requireConfig, ['modal', 'stream', 'js/tag_stream', 'js/dreams', 'js/geo', 
      'js/jquery.lightbox-0.5.pack' ])
  -# 'js/friendslist', 
  = stylesheet_link_tag 'jquery.lightbox-0.5.css'


/ CONTEXT PANEL
= render :partial => "stream_context_panel", :locals => {:user => @user}



/ ENTRY FIELD
#entryField

  / NEW ENTRY BAR
  / TAG ENTRY & STREAM

  / DREAM MATRIX
  .matrix.stream

    / ENTRY THUMBS 1D
    - @entries.each do |entry|
      = render :partial => 'thumb_1d', :locals => {:entry => entry}


    - if (@user == current_user) && @entries.empty?
      / NEW LOGIN SPLASH
      = render :partial => "new_login", :locals => {:user => @user}

    - elsif @entries.empty?
      / NO ENTRIES TO DISPLAY
      .noEntrys there are no public entries to display

