- content_for :head do
  = sass_link_tag 'entries'
  :coffeescript
    require({baseUrl: "/javascripts/compiled"}, ['modal', 'stream'])
    require({baseUrl: "/javascripts"}, [ 'stream', 'publicstream', 'dreams', 'geo', 'jquery.lightbox-0.5.pack' ])
  -# 'friendslist', 
  = stylesheet_link_tag 'jquery.lightbox-0.5.css'


/ CONTEXT PANEL
= render :partial => "stream_context_panel", :locals => {:user => @user}



/ ENTRY FIELD
#entryField

  / NEW ENTRY BAR
  / TAG ENTRY & STREAM

  / DREAM MATRIX
  .matrix.stream

    / ENTRY THUMBS 1D
    - @entries.each do |entry|
      = render :partial => 'thumb_1d', :locals => {:entry => entry}


    - if @entries.empty?
      / NEW LOGIN SPLASH
      = render :partial => "new_login", :locals => {:user => @user}


  / NO ENTRIES TO DISPLAY
  .noEntrys.hidden there are no entries to display
  