- content_for :head do
  = sass_link_tag 'entries'
  = stylesheet_link_tag 'jquery.lightbox-0.5.css'
  = javascript_include_tag 'dreams', 'geo'
  = coffeescript_include_tag 'publicstream', 'stream'

/ :coffeescript
/   require(['stream', 'publicstream'], (StreamController)-> new StreamController())
/   require({baseUrl: '/javascripts'}, ['dreams', 'geo'])


/ PRELOAD - STREAM CONTEXT PANEL
.hidden
  / FILTER - ENTRY TYPE
  %img{src: '/images/icons/allEntries-16.png'}
  %img{src: '/images/icons/arrow-down-16.png'}
  %img{src: '/images/icons/dream-16-select.png'}
  %img{src: '/images/icons/vision-16-select.png'}
  %img{src: '/images/icons/experience-16-select.png'}
  %img{src: '/images/icons/article-16-select.png'}
  / FILTER - FOLLOW TYPE
  %img{src: '/images/icons/friend-follow-16.png'}
  %img{src: '/images/icons/friend-16.png'}
  / ARROW
  %img{src: '/images/icons/arrow-down-16.png'}
  / STARLIGHT
  %img{src: '/images/icons/starlight-17.png'}
  / 1D THUMBS
  %img{src: '/images/icons/comment-16-off.png'}


/ CONTEXT PANEL
= render :partial => "stream_context_panel", :locals => {:user => @user}



/ ENTRY FIELD
#entryField

  / NEW ENTRY BAR
  / TAG ENTRY & STREAM

  / DREAM MATRIX
  .matrix.stream

    / ENTRY THUMBS 1D
    - @entries.each do |entry|
      = render :partial => 'thumb_1d', :locals => {:entry => entry}


    - if @entries.empty?
      / NEW LOGIN SPLASH
      = render :partial => "new_login", :locals => {:user => @user}


    / APPLIES SELECTED CLASS TO META MENU
    :coffeescript
      $('.item.stream').addClass('selected')


  / NO ENTRIES TO DISPLAY
  .noEntrys.hidden there are no entries to display
  