- content_for :head do
  = sass_link_tag 'entries'
  = coffeescript_include_tag 'modal', 'stream'
  = javascript_include_tag 'tag_stream', 'friendslist', 'dreams', 'geo'
  = stylesheet_link_tag 'jquery.lightbox-0.5.css'
- content_for :foot do
  = javascript_include_tag 'jquery.lightbox-0.5.pack.js'


/ CONTEXT PANEL
= render :partial => "stream_context_panel", :locals => {:user => @user}



/ ENTRY FIELD
#entryField

  / NEW ENTRY BAR
  / TAG ENTRY & STREAM

  / DREAM MATRIX
  .matrix.stream

    / ENTRY THUMBS 1D
    - @entries.each do |entry|
      = render :partial => 'thumb_1d', :locals => {:entry => entry}


    - if (@user == current_user) && @entries.empty?
      / NEW LOGIN SPLASH
      = render :partial => "new_login", :locals => {:user => @user}

    - elsif @entries.empty?
      / NO ENTRIES TO DISPLAY
      .noEntrys there are no public entries to display

