- content_for :head do
  = sass_link_tag 'admin'
  = javascript_include_tag 'jquery-ui.min'

#adminPage
  #entryField

    .user.panel
      .img
      %h1 users
      .total= @users.count
      .clear

      .last-week
        %h2 last week
        .total= @users_created_last_week
        .clear

      .last-month
        %h2 last month
        .total= @users_created_last_month
        .clear


      .module.allUsers
        .img
        %h2 user list


        .spinner
        %a#nextPage{href: "#"} ›
        #nextPageEnd ›

        #pages
        %a#prevPage{href: "#"} ‹
        #prevPageEnd ‹


        .clear


        / USER LIST
        #userList
          - @users.each do |user|
            %a.userNode{href: user_entries_path(user.username)}
              = user.username
              .postCount= user.entries.count
        .clear


        #totalUsers{:'data-id' => @users.count}
        #pageSize{:'data-id' => @page_size}
        .clear



    

        
      
    .entries.panel
      .img
      %h1 entries
      .total= Entry.count
      .clear

      / entries last week
      / entries last month


      .last-week
        %h2 last week
        .total= @entries_created_last_week
        .clear

      .last-month
        %h2 last month
        .total= @entries_created_last_month
        .clear

      .clear

      / .module.activeUsers
      /   %h2 most active users
      / .clear
      / 
      / .module.seedCodes
      /   %h2 seed codes
      / .clear
      / 
      / .module.sharing
      /   %h2 sharing
      / .clear
