- content_for :head do
  = sass_link_tag 'admin'
  = javascript_include_tag 'jquery-ui.min'

#adminPage
  #entryField

    .user.panel
      .img
      %h1 users
      .total= @users.count  

      .module.allUsers
        .img
        %h2 user list
        .clear

        / USER LIST
        #userList     
          - @users.each do |user|
            %a.userNode{href: user_entries_path(user.username)}
              = user.username
              .postCount= user.entries.count               
        .clear
        
        .spinner    
        #prevPage 
          %a{href: "#"}='prev ' 
        #pages
        #nextPage
          %a{href: "#"}='next' 
        
        %br
        %br
        %h1 users created last week
        .total= @users_created_last_week
        %h1 users created last month
        .total= @users_created_last_month         
        %h1 entries created last week
        .total= @entries_created_last_week
        %h1 entries created last month
        .total= @entries_created_last_month        

        #totalUsers{:'data-id' => @users.count}
        #pageSize{:'data-id' => @page_size}
        .clear
        
      
    .entries.panel
      .img
      %h1 entries
      .total= Entry.count
      .clear

      / entries last week
      / entries last month


      .module.activeUsers
        %h2 most active users
      .clear
      / 
      / .module.seedCodes
      /   %h2 seed codes
      / .clear
      / 
      / .module.sharing
      /   %h2 sharing
      / .clear
