- content_for :head do
  = sass_link_tag 'admin'
  %script{ :src => 'https://www.google.com/jsapi', :type => 'text/javascript', :charset => 'utf-8' }

#adminPage
  #entryField
    
    .charts.panel
      %h1 stats
      %br
      %br
      #chart-a.chart-select 'last 7 days in users'
      #chart-b.chart-select 'last 8 weeks in users'
      #chart-c.chart-select 'last 6 months in users'
      #chart-d.chart-select 'last 7 days in entries'
      #chart-e.chart-select 'last 8 weeks in entries'
      #chart-f.chart-select 'last 6 months in entries'
      #chart-g.chart-select 'last 6 months in entry types'
      #chart-h.chart-select 'seed codes' 
      #chart-i.chart-select 'top 32 users by entries'
      #chart-j.chart-select 'top 32 users by starlight'
        
      #chart-div{align: 'center'}

    .user.panel
      .header
        .img
        %h1 users
        .total= @users.count


      .last-week
        %h2 last week
        .total= @users_created_last_week
        .clear

      .last-month
        %h2 last month
        .total= @users_created_last_month
        .clear

      %select#user-filter.select-menu.dropdown
        %option.orderBy{       value: ''             } ordered by:
        %option.age{           value: 'created_at'   } age
        %option.alphabetical{  value: 'username'     } username
        %option.entries{       value: 'entries'      } entries
        %option.starlight{     value: 'starlight'    } starlight
        %option.traffic{       value: 'traffic'      } traffic


      .module.allUsers
        #allUsersIcon.img
        #pageLoading.spinner
        %h2#allUsersHeader user list

        .clear


        / USER LIST
        #userList
          = render(partial: 'user', collection: @users)
        .clear



        #nextPageEnd ›
        #nextPage ›

        #pages
        #prevPage ‹
        #prevPageEnd ‹


        #totalUsers{:'data-id' => @users.count}
        #pageSize{:'data-id' => @page_size}
        .clear



    

        
      
    .entries.panel
      .header
        .img
        %h1 entries
        .total= Entry.count

      / entries last week
      / entries last month


      .last-week
        %h2 last week
        .total= @entries_created_last_week
        .clear

      .last-month
        %h2 last month
        .total= @entries_created_last_month
        .clear

      .clear


    .bedsheets.panel
      .header
        .img
        %h1 bedsheets
        / .total= Entry.count
      .clear

      .module




        / DOK - here's the bedsheet node for you, 
        .bedsheet-node
          .bedsheet{style: "background: url(/path/to/bedsheet/thumb.jpg) no-repeat center center transparent"}

          / link to the hi-res version of the bedsheet
          .url

          / number of users with this bedsheet
          .users
            .total 268
            users

          / number of entries with this bedsheet
          .entries
            .total 1,280
            entries



    
    / - content_for :foot do
    /   %script{ :src => 'https://www.google.com/jsapi', :type => 'text/javascript', :charset => 'utf-8' }
      
