- content_for :headBefore do
  = sass_link_tag 'admin'
  %script{ :src => 'https://www.google.com/jsapi', :type => 'text/javascript', :charset => 'utf-8' }

#adminPage
  #entryField

    / USERS PANEL
    .user.panel
      .header
        .img
        %h1 users
        .total= @users.count


      .last-week
        %h2 last week
        .total= @users_created_last_week
        .clear

      .last-month
        %h2 last month
        .total= @users_created_last_month
        .clear


      / USER CHARTS
      #userCharts
        %h2 user charts
        #userCharts-arrow.up

      .clear


      #userCharts-wrap

        / USER CHART BUTTONS
        .chartButtons

          .userButton-border.select
            #users-1wk.button this week

          .userButton-border
            #users-8wks.button 8 weeks

          .userButton-border
            #users-6months.button 6 months

          %hr

          .userButton-border
            #users-entries.button entries

          .userButton-border
            #users-starlight.button starlight

          .userButton-border
            #users-seeds.button seed codes


        / CHART
        #user-chart.chart

        .clear


      / USER LIST
      #userList
        %h2 user list
        #userList-arrow.down

      .searchWrap
        %input.search{type: 'submit', value: ''}
        %input.search-input{type: 'text', value: 'search users'}

      %select#user-filter.select-menu.dropdown
        %option.orderBy{       value: ''             } ordered by:
        %option.age{           value: 'created_at'   } age
        %option.alphabetical{  value: 'username'     } username
        %option.entries{       value: 'entries'      } entries
        %option.starlight{     value: 'starlight'    } starlight
        %option.traffic{       value: 'traffic'      } traffic

      .clear


      #userList-wrap

        #users.clearfix
          = render(partial: 'user', collection: @users)
          .clear


        #nextPageEnd ›
        #nextPage ›

        #pages
        #prevPage ‹
        #prevPageEnd ‹


        #totalUsers{:'data-id' => @users.count}
        #pageSize{:'data-id' => @page_size}
        .clear






    / ENTRIES PANEL
    .entries.panel
      .header
        .img
        %h1 entries
        .total= Entry.count


      .last-week
        %h2 last week
        .total= @entries_created_last_week
        .clear

      .last-month
        %h2 last month
        .total= @entries_created_last_month
        .clear

      .last-month
        %h2 avg / user
        .total= @average_entries_per_user
        .clear

      .clear


      #entryCharts-wrap

        .entryCharts entry charts
        #entryCharts-arrow.up

        / ENTRY CHART BUTTONS
        .chartButtons

          .entryButton-border.select
            #entries-1wk.button this week

          .entryButton-border
            #entries-8wks.button 8 weeks

          .entryButton-border
            #entries-6months.button 6 months

          %hr

          .entryButton-border
            #entries-entry_types.button entry types

          .entryButton-border
            #entries-comments.button comments

          .entryButton-border
            #entries-tags.button tags


        / CHART
        .chart-wrap
          #entry-chart.chart

        .clear





    / BEDSHEETS PANEL
    #bedsheets.panel
      .header#bedsheetsHeader
        .img
        %h1 bedsheets
        .total= @total_bedsheets

      #bedsheets-arrow.down

      .clear

      .module#bedsheet-nodes.clearfix
        / the bedsheet_node partial gets injected here
        .clear


