- content_for :head do
  = sass_link_tag 'admin'
  %script{ :src => 'https://www.google.com/jsapi', :type => 'text/javascript', :charset => 'utf-8' }

#adminPage
  #entryField

    #chart-test= 'chart-test'
    #chart-div

    .user.panel
      .header
        .img
        %h1 users
        .total= @users.count


      .last-week
        %h2 last week
        .total= @users_created_last_week
        .clear

      .last-month
        %h2 last month
        .total= @users_created_last_month
        .clear

      %select#user-filter.select-menu.dropdown
        %option.orderBy{       value: ''             } ordered by:
        %option.age{           value: 'created_at'   } age
        %option.alphabetical{  value: 'username'     } username
        %option.entries{       value: 'entries'      } entries
        %option.starlight{     value: 'starlight'    } starlight
        %option.traffic{       value: 'traffic'      } traffic


      .module.allUsers
        #allUsersIcon.img
        #pageLoading.spinner
        %h2#allUsersHeader user list

        .clear


        / USER LIST
        #userList
          = render(partial: 'user', collection: @users)
        .clear



        #nextPageEnd ›
        %a#nextPage{href: "#"} ›

        #pages
        %a#prevPage{href: "#"} ‹
        #prevPageEnd ‹


        #totalUsers{:'data-id' => @users.count}
        #pageSize{:'data-id' => @page_size}
        .clear



    

        
      
    .entries.panel
      .header
        .img
        %h1 entries
        .total= Entry.count

      / entries last week
      / entries last month


      .last-week
        %h2 last week
        .total= @entries_created_last_week
        .clear

      .last-month
        %h2 last month
        .total= @entries_created_last_month
        .clear

      .clear
      
    
    / - content_for :foot do
    /   %script{ :src => 'https://www.google.com/jsapi', :type => 'text/javascript', :charset => 'utf-8' }
      
