- content_for :headBefore do
  = sass_link_tag 'admin'
  %script{ :src => 'https://www.google.com/jsapi', :type => 'text/javascript', :charset => 'utf-8' }

#adminPage
  #entryField
    
    .charts.panel
      %h1 stats
      %br
      %br
      #chart-a.chart-select 'last 7 days in users'
      #chart-b.chart-select 'last 8 weeks in users'
      #chart-c.chart-select 'last 6 months in users'
      #chart-d.chart-select 'last 7 days in entries'
      #chart-e.chart-select 'last 8 weeks in entries'
      #chart-f.chart-select 'last 6 months in entries'
      #chart-g.chart-select 'last 6 months in entry types'
      #chart-h.chart-select 'last 6 months in comments'
      #chart-j.chart-select 'top 32 users by entries'
      #chart-k.chart-select 'top 32 users by starlight'
      #chart-l.chart-select 'top 32 tags'
      #chart-m.chart-select 'seed codes usages' 
             
      #chart-div{align: 'center'}




    / USERS PANEL
    .user.panel
      .header
        .img
        %h1 users
        .total= @users.count


      .last-week
        %h2 last week
        .total= @users_created_last_week
        .clear

      .last-month
        %h2 last month
        .total= @users_created_last_month
        .clear

      %select#user-filter.select-menu.dropdown
        %option.orderBy{       value: ''             } ordered by:
        %option.age{           value: 'created_at'   } age
        %option.alphabetical{  value: 'username'     } username
        %option.entries{       value: 'entries'      } entries
        %option.starlight{     value: 'starlight'    } starlight
        %option.traffic{       value: 'traffic'      } traffic


      / USER LIST
      .module.allUsers

        .userList
          user list
          .arrow.spinner

        .clear


        #userList
          = render(partial: 'user', collection: @users)
          .clear



          #nextPageEnd ›
          #nextPage ›

          #pages
          #prevPage ‹
          #prevPageEnd ‹


          #totalUsers{:'data-id' => @users.count}
          #pageSize{:'data-id' => @page_size}
          .clear


      / USER CHARTS
      .module

        .userCharts
          user charts
          .arrow.up

        .clear


      / USER CHART BUTTONS
      .chartButtons

        .button-Wrap.select
          #users-chart_a.button this week

        .button-Wrap
          #users-chart_b.button 8 weeks

        .button-Wrap
          #users-chart_c.button 6 months

        %hr

        .button-Wrap
          #users-chart_d.button entries

        .button-Wrap
          #users-chart_e.button starlight

        .button-Wrap
          #users-chart_f.button seed codes


      / CHART
      .chart-Wrap
        #user-chart.chart

      .clear





    / ENTRIES PANEL
    .entries.panel
      .header
        .img
        %h1 entries
        .total= Entry.count

      / entries last week
      / entries last month


      .last-week
        %h2 last week
        .total= @entries_created_last_week
        .clear

      .last-month
        %h2 last month
        .total= @entries_created_last_month
        .clear

      .last-month
        %h2 avg / user
        .total= @average_entries_per_user
        .clear

      .clear

      .entryCharts entry charts


      / ENTRY CHART BUTTONS
      .chartButtons

        .button-Wrap.select
          #entries-chart_g.button this week

        .button-Wrap
          #entries-chart_h.button 8 weeks

        .button-Wrap
          #entries-chart_i.button 6 months

        %hr

        .button-Wrap
          #entries-chart_j.button entry types

        .button-Wrap
          #entries-chart_k.button comments

        .button-Wrap
          #entries-chart_l.button tags


      / CHART
      .chart-Wrap
        #entry-chart.chart

      .clear





    / BEDSHEETS PANEL
    .bedsheets.panel
      .header#bedsheetsHeader
        .img
        %h1 bedsheets
        .total= @total_bedsheets
      .clear

      .module#bedsheet-nodes.clearfix
        / the bedsheet_node partial gets injected here
        .clear


