- content_for :foot do
  = coffeescript_include_tag 'avatar', 'context_panel'
  = javascript_include_tag 'avataruploader'
  
/ CONTEXT PANEL
#contextPanel

  / IMAGE
  %a.avatar{href: entries_path(user.username), style: "background:url(#{avatar_image(user)}) top left"}
    - if user == current_user


      .uploadAvatarWrap.hidden
        .uploadAvatar
          <span>+</span> upload new avatar
      #avatarDrop.uploader.hidden
        #avatarDropContainer.qq-upload-drop-area
          .text drag new image here
          .browse
            .cancel cancel
            .dropboxBrowse{style: "position: relative; overflow: hidden; direction: ltr;"}
              browse
              %input{type: "file", multiple: "multiple", name: "file", style: "position: absolute; right: 0pt; top: 0pt; font-family: Arial; font-size: 118px; margin: 0pt; padding: 0pt; cursor: pointer; opacity: 0;"}




  - if user == current_user
    / LABEL
    %a.context{href: entries_path(user.username)}
      = user.username

  - else
    / LABEL
    %a.context{href: entries_path(user.username)}
      = user.username

      - unless current_user.relationship_with(user) == :none
        .icon
          = friend_icon_tag( current_user.relationship_with(user), 24, {class: 'following'} )

    / FOLLOW
    = render partial: 'users/follow', locals: { relationship: current_user.relationship_with(user), user: user }

  .divider

  / PROFILE
  .profile

    .view
      .name.hidden Full Name
      .location San Francisco, USA
      .details.hidden
        .website www.dreamcatcher.net
        .email someone@dreamcatcher.net
        .phone (206) 420-7777
        .skype
          %img{src: '/images/icons/skype-16.png', width: '16', height: '16'}
          %span user.skype
          .clear
        .facebook facebook
        .twitter twitter
        .change edit profile

    .edit.hidden
      =form_for current_user, :remote => true, :html => {:id => 'update_profile'} do |f|
        = f.text_field :name, :placeholder => 'full name'
        = f.text_field :email, :placeholder => 'email'
        = f.text_field :website, :placeholder => 'website'
        = f.text_field :phone, :placeholder => 'phone'
        .skypeWrap
          = f.text_field :skype, :placeholder => 'skype user name'
          %img{src: '/images/icons/skype-16.png', width: '16', height: '16'}
        .cancel cancel
        =f.submit :save, :class => 'save'
        .clear


  / FILTER BY ENTRY TYPE
  .wrapper

    .item.entryFilter.trigger.slideArrow
      .label
        %img.arrow{src: '/images/icons/arrow-down-16.png'} 
        %span.value dreams
      .image
        %img.dream{src: '/images/icons/dream-32.png', width: '32', height: '27'}
      .detail
        = user.entries.count
      .clear

    .filterList.target.slideArrow.hidden
      %a.type.top{href: entries_path(user.username)}
        %span dreams
      %a.type{href: entries_path(user.username)}
        %span visions
      %a.type.bottom{href: entries_path(user.username)}
        %span experiences



  / FILTER BY FRIENDS
  .wrapper

    .item.entryFilter.trigger.slideArrow
      .label
        %img.arrow{src: '/images/icons/arrow-down-16.png'} 
        %span.value friends
      .image
        %img.follow{src: '/images/icons/friend-32.png', width: '32', height: '32'}
      .detail
        = user.friends.count
      .clear

    .filterList.target.slideArrow.hidden
      %a.type.top{href: friends_path(user.username)}
        %span friends
      %a.type{href: following_path(user.username)}
        %span following
      %a.type.bottom{href: followers_path(user.username)}
        %span followers


  / FILTER BY starlight
  .wrapper

    .item.entryFilter.trigger.slideArrow
      .label
        %img.arrow{src: '/images/icons/arrow-down-16.png'} 
        %span.value starlight
      .image
        %img.starlight{src: '/images/icons/starlight-64.png', width: '64', height: '64'}
      .detail
        = user.starlight._?.value || 0
      .clear

    .filterList.target.slideArrow.hidden
      %a.type.top{href: ""}
        %span high
      %a.type{href: ""}
        %span low
      %a.type.bottom{href: ""}
        %span no filter

  / VIEW FILTERS - FAVORITES, REPOST, TAG
  .viewFilters
    .favoritesWrap
      .favorites
    .rePostWrap
      .rePost
    .tagWrap
      .tag
