- content_for :head do
  :coffeescript
    require(requireConfig, ['avatar', 'context_panel', 'js/avataruploader'])
  
/ CONTEXT PANEL
#contextPanel

  / IMAGE
  %a.avatar{href: user_entries_path(user.username), style: "background:url(#{avatar_image(user)}) top left"}
    - if user == current_user


      .uploadAvatarWrap.hidden
        .uploadAvatar
          <span>+</span> upload new avatar
      #avatarDrop.uploader.hidden
        #avatarDropContainer.qq-upload-drop-area
          .text drag new image here
          .browse
            .cancel cancel
            .dropboxBrowse{style: "position: relative; overflow: hidden; direction: ltr;"}
              browse
              %input{type: "file", name: "file", style: "position: absolute; right: 0; top: 0; margin: 0; padding: 0; opacity: 0;"}




  - if user == current_user
    / LABEL
    .context
      = user.username

  - else
    / LABEL
    .context
      = user.username

      - if current_user && current_user.relationship_with(user) != :none
        .icon
          = friend_icon_tag( current_user.relationship_with(user), 24, {class: 'following'} )

    / FOLLOW
    - if current_user
      = render partial: 'users/follow', locals: { relationship: current_user.relationship_with(user), user: user }

  .divider

  / PROFILE
  .profile

    .view
      .name.hidden{onclick: "window.contextController.toggleProfile()"}= user.name
      .location{onclick: "window.contextController.toggleProfile()"} San Francisco, USA
      .details.hidden
        / - if current_user._?.friends_with?(user)
        -# if user.link || ((user.email || user.phone || user.skype) && (current_user.relationship_with(user) == :friends || user == current_user))
          %hr
        - if user.link
          %a.website{href: user.link.url, target: "_blank"}= user.link.url
        - if current_user.relationship_with(user) == :friends || user == current_user
          .email= user.email
          .phone= user.phone
          - if user.skype
            .skype
              %img{src: '/images/icons/skype-16.png', width: '16', height: '16'}
              %span= user.skype
            .clear
        / .facebook facebook
        / .twitter twitter
        .clear
        - if user == current_user
          .change edit profile
        .clear

    - if user == current_user
      .edit.hidden
        = form_tag :user, :method => :put, :remote => true, :id => 'update_profile' do
          = fields_for current_user do |f|
            = f.text_field :name, :placeholder => 'full name'
            = f.fields_for :link_attributes do |l|
              / = l.text_field :title, :placeholder => 'site name'
              = l.text_field :url, :placeholder => 'website'
            = f.text_field :email, :placeholder => 'email'
            = f.text_field :phone, :placeholder => 'phone'
            .skypeWrap
              = f.text_field :skype, :placeholder => 'skype user name'
              %img{src: '/images/icons/skype-16.png', width: '16', height: '16'}
            .cancel cancel
            = f.submit :save, :class => 'save'
            .clear


  / FILTER BY ENTRY TYPE
  .wrapper

    .item.entryFilter.trigger.slideArrow
      .label
        %img.arrow{src: '/images/icons/arrow-down-16.png'} 
        %span.value dreams
      .image
        %img.dream{src: '/images/icons/dream-32.png', width: '32', height: '32'}
      .detail
        = user.entries.count
      .clear

    .filterList.target.slideArrow.hidden
      %a.type.top{href: dreams_path(user.username)}
        %span dreams
      %a.type{href: user_entries_path(user.username)}
        %span visions
      %a.type{href: user_entries_path(user.username)}
        %span experiences
      %a.type.bottom{href: user_entries_path(user.username)}
        %span articles



  / FILTER BY FRIENDS
  .wrapper

    .item.entryFilter.trigger.slideArrow
      .label
        %img.arrow{src: '/images/icons/arrow-down-16.png'} 
        %span.value friends
      .image
        %img.follow{src: '/images/icons/friend-24.png', width: '24', height: '24'}
      .detail
        = user.friends.count
      .clear

    .filterList.target.slideArrow.hidden
      %a.type.top{href: friends_path(user.username)}
        %span friends
      %a.type{href: following_path(user.username)}
        %span following
      %a.type.bottom{href: followers_path(user.username)}
        %span followers


  / STARLIGHT
  .item
    .label.starlight
      %span.value starlight
    .image
      %img.starlight{src: '/images/icons/starlight-64.png', width: '64', height: '64'}
    .detail
      = user.starlight._?.value || 0
    .clear


  / VIEW FILTERS - FAVORITES, REPOST, TAG
  / .viewFilters
  /   .favoritesWrap
  /     .favorites
  /     = render partial: "shared/hover_label", locals: {message: "favorites", x: "30", y: "-40"}
  /   .rePostWrap
  /     .rePost
  /   .tagWrap
  /     .tag.hidden
  /     = render partial: "shared/hover_label", locals: {message: "tag", x: "30", y: "-40"}

.pagePadding