- content_for :foot do
  = javascript_include_tag 'context_panel'

/ CONTEXT PANEL
#contextPanel

  / IMAGE
  %a.avatar{href: entries_path(user.username), style: "background:url(/images/avatars/default-avatar-full.jpg) top left"}
    - if user == current_user
      .uploadAvatarWrap.hidden
        .uploadAvatar
          <span>+</span> upload new avatar


  - if user == current_user
    / LABEL
    %a.context{href: entries_path(user.username)}
      = user.username

    / WHO'S DREAMING
    .find
      Who's dreaming about me &rsaquo;

  - else
    / LABEL
    %a.context{href: entries_path(user.username)}
      = user.username

      - unless current_user.relationship_with(user) == :none
        .icon
          = friend_icon_tag( current_user.relationship_with(user), 24, {class: 'following'} )

    / FOLLOW
    = render partial: 'users/follow', locals: { relationship: current_user.relationship_with(user), user: user }

    
    
  / CONTEXT ITEMS
  .item
    .label starlight
    .image
      %img.starlight{src: '/images/icons/starlight-64.png', width: '64', height: '64'}
    .detail
      = user.starlight._?.value || 0
    .clear-both


  .item
    %a.block.label{href: entries_path(user.username)}
      dreams
    .image
      %img.dream{src: '/images/icons/dream-32.png', width: '32', height: '27'}
    .detail
      = user.entries.count
    .clear-both


  .item
    %a.block.label{href: friends_path(user.username)}
      friends
    .image
      %img.follow{src: '/images/icons/friend-32.png', width: '32', height: '32'}
    .detail
      = user.friends.count
    .clear-both

