/ CONTEXT PANEL
#contextPanel

  / IMAGE
  %a.avatar{href: entries_path(user.username), style: "background:url(/images/avatars/default-avatar-full.jpg) top left"}
    - if user == current_user

      - content_for :foot do
        = javascript_include_tag 'context_panel'

      .uploadAvatarWrap.hidden
        .uploadAvatar
          <span>+</span> upload new avatar
      .uploader
        .text drag new image here
        .browse
          .toggle browse for a file
          .cancel cancel
          %input{type: "file", name: "newAvatar"}


  - if user == current_user
    / LABEL
    %a.context{href: entries_path(user.username)}
      = user.username

    / WHO'S DREAMING
    .find
      Who's dreaming about me &rsaquo;

  - else
    / LABEL
    %a.context{href: entries_path(user.username)}
      = user.username

      - unless current_user.relationship_with(user) == :none
        .icon
          = friend_icon_tag( current_user.relationship_with(user), 24, {class: 'following'} )

    / FOLLOW
    = render partial: 'users/follow', locals: { relationship: current_user.relationship_with(user), user: user }


  / FILTER BY ENTRY TYPE
  .wrapper

    .item.entryFilter.trigger.slideArrow
      .label
        %img.arrow{src: '/images/icons/arrow-down-16.png'} 
        %span.value dreams
      .image
        %img.dream{src: '/images/icons/dream-32.png', width: '32', height: '27'}
      .detail
        = user.entries.count
      .clear

    .filterList.target.slideArrow.hidden
      %a.type.top{href: entries_path(user.username)}
        %span dreams
      %a.type{href: entries_path(user.username)}
        %span visions
      %a.type.bottom{href: entries_path(user.username)}
        %span experiences



  / FILTER BY FRIENDS
  .wrapper

    .item.entryFilter.trigger.slideArrow
      .label
        %img.arrow{src: '/images/icons/arrow-down-16.png'} 
        %span.value friends
      .image
        %img.follow{src: '/images/icons/friend-32.png', width: '32', height: '32'}
      .detail
        = user.friends.count
      .clear

    .filterList.target.slideArrow.hidden
      %a.type.top{href: friends_path(user.username)}
        %span friends
      %a.type{href: following_path(user.username)}
        %span following
      %a.type.bottom{href: followers_path(user.username)}
        %span followers


  / FILTER BY starlight
  .wrapper

    .item.entryFilter.trigger.slideArrow
      .label
        %img.arrow{src: '/images/icons/arrow-down-16.png'} 
        %span.value starlight
      .image
        %img.starlight{src: '/images/icons/starlight-64.png', width: '64', height: '64'}
      .detail
        = user.starlight._?.value || 0
      .clear

    .filterList.target.slideArrow.hidden
      %a.type.top{href: ""}
        %span high
      %a.type{href: ""}
        %span low
      %a.type.bottom{href: ""}
        %span no filter
