- content_for :head do
  = coffeescript_include_tag 'avatar', 'context_panel'
  = javascript_include_tag 'avataruploader', 'dreams'
/ :coffeescript
/   require(['/javascripts/avataruploader.js'])
/   require(['/javascripts/compiled/avatar.js', '/javascripts/compiled/context_panel.js'])

/ PRELOAD - CONTEXT PANEL
.hidden
  / FILTERS
  %img{src: '/images/icons/dream-32-select.png'}
  %img{src: '/images/icons/friend-24.png'}
  %img{src: '/images/icons/starlight-64.png'}
  / ARROW
  %img{src: '/images/icons/arrow-down-16.png'}
  / DROPBOX
  %img{src: '/images/icons/dropbox-26.png'}


/ CONTEXT PANEL
#contextPanel

  / IMAGE
  %a.avatar{href: user_entries_path(user.username), style: "background:url(#{avatar_image(user)}) top left"}
    - if user == current_user


      .uploadAvatarWrap.hidden
        .uploadAvatar
          <span>+</span> upload new avatar
      #avatarDrop.uploader.hidden
        #avatarDropContainer.qq-upload-drop-area
          .text drag new image here
          .browse
            .cancel cancel
            .dropboxBrowse{style: "position: relative; overflow: hidden; direction: ltr;"}
              browse
              %input{type: "file", name: "file", style: "position: absolute; right: 0; top: 0; margin: 0; padding: 0; opacity: 0;"}




  - if user == current_user
    / LABEL
    .context
      = user.username

  - else
    / LABEL
    .context
      - if current_user && current_user.relationship_with(user) != :none
        .icon
          = friend_icon_tag( current_user.relationship_with(user), 24, {class: 'following'} )
      - else
        .icon
          %img{src: "/images/colors/clear.png"}
      = user.username







    / FOLLOW
    - if current_user
      = render partial: 'users/follow', locals: { relationship: current_user.relationship_with(user), user: user }

  .divider





  / PROFILE
  .profile

    .view
      .name.hidden{onclick: "window.contextController.toggleProfile()"}= user.name
      / .location{onclick: "window.contextController.toggleProfile()"} San Francisco, USA
      .details.hidden
        %hr
        - if user.link
          %a.website{href: user.link.url, target: "_blank"}= user.link.url
        - if user.friends_with?(current_user)
          .email= user.email
          .phone= user.phone
          - unless user.skype.blank?
            .skype
              %img{src: '/images/icons/skype-16.png', width: '16', height: '16'}
              %span= user.skype
            .clear
        / .facebook facebook
        / .twitter twitter
        .clear
        - if user == current_user
          .change edit profile
        .clear

    - if user == current_user
      .edit.hidden
        = form_tag :user, :method => :put, :remote => true, :id => 'update_profile' do
          = fields_for current_user do |f|
            %span full name
            = f.text_field :name, :placeholder => 'full name'
            %span website url
            = f.fields_for :link_attributes do |l|
              = l.text_field :url, :placeholder => 'http://yoursite.com'
            %span email address
            = f.text_field :email, :placeholder => 'email@address.com'
            %span phone number
            = f.text_field :phone, :placeholder => '(123) 456-7890'
            %span skype username
            .skypeWrap
              = f.text_field :skype, :placeholder => 'skype.username'
              %img{src: '/images/icons/skype-16.png', width: '16', height: '16'}
            .cancel cancel
            = f.submit :save, :class => 'save'
            .clear






  / FILTER BY ENTRY TYPE
  .wrapper

    .item.entryFilter.entries.trigger.slideArrow
      .label
        %img.arrow{src: '/images/icons/arrow-down-16.png'} 
        %span.value dreams
      .image
        %img.dream{src: '/images/icons/dream-32-select.png', width: '32', height: '32'}
      .detail
        = user._?.entries.count ? user.entries.count : @entries.count
        /= @entries._?.count ? @entries.count : user.entries.count
      .clear

    .filterList.entries.target.slideArrow.hidden
      %a.type.top{href: dreams_path(user.username)}
        %span dreams
      %a.type{href: visions_path(user.username)}
        %span visions
      %a.type{href: experiences_path(user.username)}
        %span experiences
      %a.type.bottom{href: articles_path(user.username)}
        %span articles



  / FILTER BY FRIENDS
  .wrapper

    .item.entryFilter.friends.trigger.slideArrow
      .label
        %img.arrow{src: '/images/icons/arrow-down-16.png'} 
        %span.value friends
      .image
        %img.follow{src: '/images/icons/friend-24.png', width: '24', height: '24'}
      .detail
        = user.followers.count
      .clear

    .filterList.friends.target.slideArrow.hidden
      %a.type.top{href: friends_path(user.username)}
        %span friends
      %a.type{href: following_path(user.username)}
        %span following
      %a.type.bottom{href: followers_path(user.username)}
        %span followers


  / STARLIGHT
  .item
    .label.starlight
      %span.value starlight
    .image
      %img.starlight{src: '/images/icons/starlight-64.png', width: '64', height: '64'}
    .detail
      = user.starlight._?.value || 0
    .clear


  / VIEW FILTERS - FAVORITES, REPOST, TAG
  / .viewFilters
  /   .favoritesWrap
  /     .favorites
  /     = render partial: "shared/hover_label", locals: {message: "favorites", x: "30", y: "-40"}
  /   .rePostWrap
  /     .rePost
  /   .tagWrap
  /     .tag.hidden
  /     = render partial: "shared/hover_label", locals: {message: "tag", x: "30", y: "-40"}

.pagePadding