
/ FOLLOW
:coffeescript
  $(document).ready ->
    $('#contextPanel .item.relationship')
      .hover( ->
        $('.relation').addClass('hidden')
        $('.context .icon').addClass('hidden')
        $('.changeRelation').removeClass('hidden')
      , ->
        $('.relation').removeClass('hidden')
        $('.context .icon').removeClass('hidden')
        $('.changeRelation').addClass('hidden')
    )



.item.relationship
  .relation
    - if relationship == :none
      follow
    - elsif relationship == :followed_by
      following you
    - else
      = relationship.to_s.humanize.downcase



  - if relationship == :none || relationship == :followed_by
    %a.changeRelation.follow.hidden{href: follow_path(user.username)}
      - if relationship == :none
        .icon
          = friend_icon_tag( :following, 24, {class: 'follow'} )
        follow

      - elsif relationship == :followed_by
        .icon
          = friend_icon_tag( :friends, 24, {class: 'follow'} )
        befriend



  - if relationship == :friends || relationship == :following
    %a.changeRelation.unfollow.hidden{href: unfollow_path(user.username)}

      - if relationship == :friends
        .icon
          = friend_icon_tag( :following, 24, {class: 'none'} )
        unfriend

      - elsif relationship == :following
        .icon
          = friend_icon_tag( :none, 24, {class: 'none'} )
        unfollow

