/ FRIEND'S LIST
.userNode{:userId => friend.id, :relationshipWith => current_user.relationship_with(friend)}

  .status{:class => current_user.relationship_with(friend)}
  .statusHover.hidden
    %span unfollow

  .avatar.button

  .userInfo
    %h3= friend.username
    %p friend's location
    %p.mutual
      - mutual_followers = (user.followers & friend.followers).count
      = pluralize(mutual_followers, "mutual follower")

  .backdrop

  .panel
    .expanded.hidden
      .item
        .label dreams
        .image
          %img.dream{src: '/images/icons/dream-32.png', width: '32', height: '27'}
        .detail= friend.entries.count
        .clear
      .item
        .label starlight
        .image
          %img.starlight{src: '/images/icons/starlight-64.png', width: '64', height: '64'}
        .detail= friend.starlight._?.value || 0
        .clear
      .item
        .label friends
        .image
          %img.follow{src: '/images/icons/friend-32.png', width: '32', height: '32'}
        .detail= friend.friends.count
        .clear
