/ FRIEND'S LIST
.userNode{:userId => friend.id, :relationshipWith => current_user._?.relationship_with(friend)}

  - unless current_user.blank?
    .status{:class => current_user._?.relationship_with(friend)}
    .statusHover.hidden
      %span unfollow


  %a.avatar.button{href: user_entries_path(friend.username), style: "background-image: url('#{avatar_image(friend, 64)}')"}


  .userInfo
    %h3= friend.username
    %p= friend.default_location_id

    / - unless current_user.blank?
    /   - mutual_follows = (user.followers & friend.followers).count
    /   - unless mutual_follows == 0
    /     %p.mutual
    /       = pluralize(mutual_follows, "mutual follow")

  .backdrop

  .panel
    .expanded.hidden

      .shadow

      .item.top
        .label dreams
        .image
          %img.dream{src: '/images/icons/dream-32-hover.png', width: '32', height: '32'}
        .detail= friend.entries.count
        .clear

      .item
        .label friends
        .image
          %img.follow{src: '/images/icons/friend-24.png', width: '24', height: '24'}
        .detail= friend.friends.count
        .clear

      .item
        .label starlight
        .image
          %img.starlight{src: '/images/icons/starlight-64.png', width: '64', height: '64'}
        .detail= friend.starlight
        .clear





