= coffeescript_include_tag 'loginpanel'

.loginPanelWrap.wrapper
  %a.login{href: login_path}
    login
  %a.loginItem.facebook{href: '/auth/facebook'}
    = render partial: "shared/hover_label", locals: {message: "log in with facebook", x: "8", y: "0"}
  .clear


  / LOGIN PANEL
  .loginPanel.hidden
    = form_for('user', {url: user_session_path}) do |f|

      %p.error.hidden incorrect username
      %span username
      %label.stay
        Stay logged in
        %input{tabindex: '4', type: 'checkbox', name: 'remember_me'}
      = f.text_field(:username, {class: 'login-input', tabindex: '1', placeholder: 'username'})

      %p.error.hidden username and password do not match
      %span password
      %a.forgot{href: forgot_password_path} Forgot password
      = f.password_field(:password, {class: 'login-input', tabindex: '2', placeholder: 'password'})

      .submit
        .text
          login &rsaquo;
          %input.button#loginButton{tabindex: '3', name: 'loginButton', type: 'submit', value: 'log in &rsaquo;'}

      #loginSpacer

