#metaMenu.user
  .notice= flash.notice
  .alert= flash.alert



  / INTRO MENU
  .leftPanel

    %a.item.home{href: user_entries_path(current_user.username)}
      .img
      home

    %a.item.stream{href: stream_path}
      stream

    %a.item.dreamstars{href: '/dreamstars'}
      %img{src: '/images/icons/starlight-32.png'}
      dreamstars




  %a.randomDream{href: '/random'}
    = render partial: "shared/hover_label", locals: {message: "ramdom dream!", x: "19", y: "-34"}



  / LOG OUT
  %a.logOut{href: '/logout'}
    .img




  / SETTINGS MENU
  .rightPanel
    %a.item.user{:'data-id' => current_user.id, href: user_entries_path(current_user.username), style: "background:url(#{avatar_image(current_user, 32)}) no-repeat scroll 0 0 #000;"}
      %span
        = current_user.username


    .settingsPanel.wrapper
      .item.settings.trigger
        = render partial: "shared/hover_label", locals: {message: "settings", x: "10", y: "-40"}

      / SETTINGS PANEL
      = render partial: "users/settings_panel"


    - if page_is_mine?
      .appearancePanel.wrapper
        .item.appearance.trigger
          = render partial: "shared/hover_label", locals: {message: "appearance", x: "10", y: "-40"}

        / APPEARANCE PANEL
        = render partial: "users/appearance_panel"






    / 
      NOTIFICATIONS PANEL
      .notificationsPanel.hidden
        .notifyIcon 5

        / NOTICE - SUCCESS
        .notice
          .close
          %span You have successfully logged in

        / ALERT - FAIL, WARING
        .alert
          .close
          %span You're password and/or username did not match our records

        / ALERT - FAIL, WARING
        .alert
          .close
          .icon{style: 'background: url(/images/icons/info-24-selected.png) no-repeat left'}
          %span The system will be down at 3pm PST

        / NOTIFICATION - NEW COMMENT, TAG
        .notification
          .close
          .avatar{style: 'background: url(/images/avatars/xavitar.jpg) no-repeat left'}
          %span Username has commented on your dream





  / ADMIN LINK
  / %a.adminLink{href: '/admin'}
  /   .img



  / NEW ENTRY LINK
  %a.newEntry{href: new_entry_path}
    .img
    new entry
