- if current_user.blank?
  - content_for :head do
    = coffeescript_include_tag 'metamenu'

  #report_box= VERSION

  %a#logo{href: root_path }
    %img{src: '/images/logos/dreamcatcher_logo-THETA.png', alt: 'Dreamcatcher', border: '0'}

  / META MENU - PUBLIC
  = render :partial => "users/meta_menu_public"

- else
  - content_for :head do
    = coffeescript_include_tag 'metamenu'

  #report_box= VERSION

  %a#logo{href: root_path }
    %img{src: '/images/logos/dreamcatcher_logo-THETA.png', alt: 'Dreamcatcher', border: '0'}

  / META MENU - USER
  = render :partial => "users/meta_menu_user"