= coffeescript_include_tag 'loginpanel'

#metaMenu.public

  .notice= flash.notice
  .alert= flash.alert

  %a.randomDream{href: '/random'} random dream...

  .rightPanel
    .prompt
      .login
        login
      / %a.loginItem
      /    %img{src: '/images/icons/google-16.png', alt: 'Log in with Google', border: '0'}
      /  %a.loginItem
      /    %img{src: '/images/icons/twitter-16.png', alt: 'Log in with Twitter', border: '0'}

      %a.loginItem{href: '/auth/facebook'}
        = render partial: "shared/hover_label", locals: {message: "log in with facebook", x: "8", y: "16"}

    / LOGIN PANEL
    .loginPanel.hidden
      = form_for('user', {url: user_session_path}) do |f|
        %a.forgot{href: forgot_password_path} Forgot password
        %label.stay
          Stay logged in
          %input{tabindex: '4', type: 'checkbox', name: 'remember_me'}
        = f.text_field(:username, {class: 'login-input', tabindex: '1', placeholder: 'username'})
        = f.password_field(:password, {class: 'login-input', tabindex: '2', placeholder: 'password'})
        %input#loginButton{tabindex: '3', name: 'loginButton', type: 'submit', value: 'log in &rsaquo;'}


  .join
    Join now &rsaquo;
