#metaMenu.user

  #drop_shadow
  #bodyClick

  .leftPanelWrap
    .leftPanel

      %a.item.home.tooltip{href: user_entries_path(current_user.username), title: "home"}
        .img

      %a.item.stream.tooltip{href: stream_path, title: "stream"}
        .img

      %a.item.dreamstars.tooltip{href: '/dreamstars', title: "dreamstars"}
        .img

      .searchWrap.wrapper
        .searchIcon.trigger.showhidesearch.tooltip{title: "search users"}
          .img

        = form_tag search_user_path, class: 'searchForm target showhidesearch hidden' do
          = text_field_tag :search_string, nil, class: 'searchField', placeholder: 'search users'
          = submit_tag 'search', :class => 'search', :value => ''

    %a.randomDream.tooltip{href: '/random', title: "random dream!"}
      .img



  / LOG OUT
  %a.logOut.tooltip-left{href: '/logout', title: "log out"}
    .img




  / SETTINGS MENU
  .rightPanel

    %a.item.user{:'data-id' => current_user.id, href: user_entries_path(current_user.username), style: "background:url(#{avatar_image(current_user, 32)}) no-repeat scroll 0 0 #000;"}
      %span= current_user.username

    .settingsPanel.wrapper
      .item.settings.trigger.tooltip-left{title: "settings"}
        .img

      / SETTINGS PANEL
      = render partial: "users/settings_panel"



    - if page_is_mine?
      .appearancePanel.wrapper
        .item.appearance.trigger.tooltip-left{title: "appearance"}
          .img

        / APPEARANCE PANEL
        = render partial: "users/appearance_panel"





      / NOTIFICATIONS PANEL
      / .notificationsPanel.hidden
      /   .notifyIcon 5
      / 
      /   / NOTICE - SUCCESS
      /   .notice
      /     .close
      /     %span You have successfully logged in
      / 
      /   / ALERT - FAIL, WARING
      /   .alert
      /     .close
      /     %span You're password and/or username did not match our records
      / 
      /   / ALERT - FAIL, WARING
      /   .alert
      /     .close
      /     .icon{style: 'background: url(/images/icons/info-24-selected.png) no-repeat left'}
      /     %span The system will be down at 3pm PST
      / 
      /   / NOTIFICATION - NEW COMMENT, TAG
      /   .notification
      /     .close
      /     .avatar{style: 'background: url(/images/avatars/xavitar.jpg) no-repeat left'}
      /     %span Username has commented on your dream





  / ADMIN LINK
  / %a.adminLink{href: '/admin'}
  /   .img



  / NEW ENTRY LINK
  %a.newEntry{href: new_entry_path}
    .img
    new entry
