/ SETTINGS PANEL
#settingsPanel.hidden.target
  .arrow

  / DEFAULTS
  .defaults

    #default-landingPage{:'data-id' => current_user.default_landing_page}
      #default-landingPage-icon.img
      %h2.landing-label landing page
      
      %select#default-landingPage-list.dropdown
        %option.stream{ value: 'stream' } stream
        %option.home{   value: 'home'   } home
        %option.today{  value: 'today'  } today in dreams
      .clear


    / MENU STYLE
    #default-menuStyle{:'data-id' => menu_style}
      #default-menuStyle-icon.img
      %h2.menu-label menu style

      %select#default-menuStyle-list.dropdown
        %option.float{  value: 'float',  selected: (menu_style == 'float')  } floating
        %option.inpage{ value: 'inpage', selected: (menu_style == 'inpage') } in-page
      .clear


    / THE INCREDIBLE FONT SIZER
    #default-fontSize{:'data-id' => font_size, :class => font_size}
      #default-fontSize-icon.img
      %h2.font-label font size

      #fontLarge.fontSize A
      #fontMedium.fontSize A
      #fontSmall.fontSize A
      #clear


    %label.hidden
      I must authorize all follow requests
      %input.authFollow{type: 'checkbox'}
    .clear


  .network
    #facebook-icon.img
    %h2.facebook-label facebook login

    - if current_user && current_user.authentications.facebook?
      = link_to "/auth/#{current_user.authentications.facebook.first.id}.json", :method => :delete, :remote => true, :id => 'fbLink', :class => 'linkAccount' do
        un-link
    - else  
      %a#fbLink.linkAccount{href: '/auth/facebook'}
        link account





  / CHANGE PASSWORD
  .changePassword.wrapper

    .trigger.showhide
      #password-icon.img
      %h2.password-label change password
      .clear


    .changePasswordForm.target.showhide.hidden
      = form_tag :user, :method => :put, :'data-type' => :json, :remote => true, :id => 'change_password' do
        = fields_for current_user do |f|
          %p.error
          %span current password
          = f.password_field :old_password
          %p.error
          %span new password
          = f.password_field :password
          %span confirm new password
          = f.password_field :password_confirmation
          .cancel cancel
          = f.submit :'change password', :class => 'confirm'
          .clear

    .clear



  %a.feedback{href: "/feedback"} send feedback / report a bug




