- content_for :head do
  = sass_link_tag 'dreamstars'

#dreamstars.dark

  / HEADER
  .header
    %img{:src => "http://www.dreamcatcher.net/basic/inc/images/logos/header-dreamstars.png", :alt => "Dreamstars"}
    .date
      %span global:
      TODO ADD MONTH, DAY, YEAR
    .clear

  / COLUMNS PANEL
  .columnsPanel
    .rankColumn
      &#35;
    .nameColumn
      username
    .starlightColumn
      starlight
    .clear

  / TOP 6 DREAMSTARS
  - (0..5).each do |rank|
    - user = @users[rank]
    %a{class: "dreamstar-#{rank+1}", href: "/#{user._?.username._?}/entries"}
      .badge
        = image_tag "dreamstars/#{@top_images[rank]}"
      .rank
        = rank + 1
      .name
        = user.username if user
      .starlight
        = user._?.starlight._?.value || 0
      .clear

  / ALL DREAMSTARS
  .dreamstarsAll
    - @users.each_with_index do |user, index|
      = if index > 1
        %a.dreamstar{href: "/#{user._?.username._?}/entries"}
          .rank
            = index + 1
          .name
            = user.username if user
          .starlight
            = user._?.starlight._?.value || 0