- content_for :head do
  = sass_link_tag 'dreamstars'

#dreamstars.dark

  / HEADER
  .header
    %img{:src => "http://www.dreamcatcher.net/basic/inc/images/logos/header-dreamstars.png", :alt => "Dreamstars"}
    .date
      %span global:
      december 28, 2010
    .clear

  / COLUMNS PANEL
  .columnsPanel
    .rankColumn
      &#35;
    .nameColumn
      username
    .starlightColumn
      starlight
    .clear

  / TOP 6 DREAMSTARS
  - (0..5).each do |rank|
    - user = @users[rank]
    %a{class: "dreamstar-#{rank+1}"}
      .badge
        = image_tag "dreamstars/#{@top_images[rank]}"
      .rank
        = rank
      .name
        = user.username if user
      .starlight
        1500
      .clear

  / ALL DREAMSTARS
  .dreamstarsAll
    %a.dreamstar
      .rank
        rank
      .name
        username
      .starlight
        1500
    %a.dreamstar
      .rank
        rank
      .name
        username
      .starlight
        1500
    %a.dreamstar
      .rank
        rank
      .name
        username
      .starlight
        1500
    %a.dreamstar
      .rank
        rank
      .name
        username
      .starlight
        1500
    %a.dreamstar
      .rank
        rank
      .name
        username
      .starlight
        1500
      