
#dreamstars.dark

  / HEADER
  .header
    %img{:src => "/images/logos/header-dreamstars.png", :alt => "Dreamstars"}
    .date
      %span global:
      - time = Time.new
      = "#{time.strftime('%B %d, %Y')}"
    .clear
    
  / COLUMNS PANEL
  .columnsPanel
    .rankColumn &#35;
    .nameColumn username
    .starlightColumn starlight
    .clear

  / TOP 6 DREAMSTARS
  - dreamstars = User.dreamstars
  - dreamstars[0..5].each_with_index do |user, index|
    - rank = index + 1
    %a{class: "dreamstar-#{rank}", href: user_entries_path(user.username)}
      .badge= dreamstar_image_tag(rank)
      .rank= rank
      .name= user.username
      .starlight= user.starlight
      .clear

      / .status
      /   .img.friends
      /   %span follow


  / ALL DREAMSTARS
  .dreamstarsAll
    - dreamstars[6..-1]._?.each_with_index do |user, index|
      - rank = index + 7
      %a.dreamstar{href: user_entries_path(user.username)}
        .rank= rank
        .name= user.username
        .starlight= user.starlight

        / .status
        /   .img.friends
        /   %span follow



- content_for :foot do
  / APPLIES SELECTED CLASS TO META MENU
  :coffeescript
    $('.item.dreamstars').addClass('selected')