- content_for :head do
  = coffeescript_include_tag 'seedcode'

/ DREAMCATCHER LOGO
%a.dcLogo{href: root_path}
  %img{src: '/images/logos/dreamcatcher-366.png', width: '366', height: '102', alt: 'Dreamcatcher'}

#joinPage

  .joinInfo
    %h1 Join Now

    .forgot
      %a{href: forgot_password_path} forgot password

    .login
      %a{href: login_path} login

  .glowBox
    %img.dreamstar{src: '/images/icons/dreamstar-148.png', width: '148', height: '148', alt: 'dreamstar'}

    .shineBox

      .joinForm.wrapper
        = form_for(@user, url: user_registration_path) do |f|
          %span.label email
          = f.text_field :email, class: 'inputField', tabindex: '1'
          .clear
          %span.label password
          = f.password_field :password, class: 'inputField', tabindex: '2'
          .clear
          %span.label confirm password
          = f.password_field :password_confirmation, class: 'inputField', tabindex: '3'
          .clear
          %span.username username
          %span.label.url http://dreamcatcher.net/
          = f.text_field :username, class: 'inputField', tabindex: '4'
          .clear

          .label.seed.trigger.showhideremove have a seed code?
          .target.hidden.showhideremove
            %span.label enter seed code
            = f.text_field :seed_code, class: 'inputField',  :value => session[:seed_code]
          .clear

          .relative
            .recaptchaWrap
              = raw recaptcha_tags(:display => {:theme => 'clean', :tabindex => 5})

            %span.label.recaptcha enter text as shown

            .submit
              .text
                Join Now &rsaquo;
                %input.button{tabindex: '6', type: 'submit', name: 'loginButton', value: 'Join Now &rsaquo;'}
                :coffeescript
                  # XXX: Put this in the JMVC for this page.
                  $('input[name="loginButton"]').click ->
                    $this = $(this)
                    setTimeout(->
                      $this.attr 'disabled', 'disabled'
                      textNode = $this.parent()
                      textNode.data 'old-html', textNode.html()
                      textNode.html 'registering...'
                      setTimeout(->
                        textNode.html textNode.data('old-html')
                        $this.removeAttr 'disabled'
                      ,20000) # after 20 seconds it will re-enable
                    ,13)

          %a.terms{href: terms_path} by joining, I agree to the “terms of service”
          %a.forgot{href: forgot_password_path} have an account and need to reset your password?
