- content_for :head do
  = sass_link_tag 'join'


/ DREAMCATCHER LOGO
%a.dcLogo{href: '#'}
  %img{src: '/images/logos/dreamcatcher-366.png', width: '366', height: '102', alt: 'Dreamcatcher'}


#joinPage

  .joinInfo
    %h1 Join Now

    .forgotWrap
      %a.forgot{href: '#'} forgot password

    .loginWrap
      %a.login{href: '#'} login

  .glowBox
    %img.dreamstar{src: '/images/icons/dreamstar-148.png', width: '148', height: '148', alt: 'dreamstar'}

    .shineBox
      = form_for(User.new, url: user_registration_path) do |f|
        = f.text_field :email, :placeholder => "email"
        = f.text_field :username, :placeholder => "username"
        = f.password_field :password, :placeholder => "password"
        = f.password_field :password_confirmation, :placeholder => "confirm password"
        .seed have a seed code?
        = f.text_field :seed_code, :value => session[:seed_code] || 'theta'
        .joinWrap
          %a.join{href: '/join'}
            Join now &rsaquo;
          %input.prompt.joinButton.hidden{type: 'submit', name: 'signup', value: 'Join now &rsaquo;'}


/
  #loginPage

    .navigation
      %a.button{href: login_path}
        login
      %a.button.selected{href: join_path}
        join now
      %a.button{href: forgot_password_path}
        forgot password
      .clear

    %br




