- content_for :head do
  = sass_link_tag 'user_info'

/ DREAMCATCHER LOGO
%a.dcLogo{href: root_path}
  %img{src: '/images/logos/dreamcatcher-366.png', width: '366', height: '102', alt: 'Dreamcatcher'}

#joinPage

  .joinInfo
    %h1 Join Now

    .forgot
      %a{href: forgot_password_path} forgot password

    .login
      %a{href: login_path} login

  .glowBox
    %img.dreamstar{src: '/images/icons/dreamstar-148.png', width: '148', height: '148', alt: 'dreamstar'}

    .shineBox

      .joinForm.wrapper
        = form_for(@user, url: user_registration_path) do |f|
          %span.label email
          = f.text_field :email, class: 'inputField'
          .clear
          %span.label username
          = f.text_field :username, class: 'inputField'
          .clear
          %span.label password
          = f.password_field :password, class: 'inputField'
          .clear
          %span.label confirm password
          = f.password_field :password_confirmation, class: 'inputField'
          .clear

          .label.seed.trigger.showhide have a seed code?
          .target.hidden.showhide
            %span.label enter seed code
            = f.text_field :seed_code, class: 'inputField',  :value => session[:seed_code] || 'theta'

          .clear

          .relative
            .recaptchaWrap

              = raw recaptcha_tags(:display => {:theme => 'clean'})

            %span.label.recaptcha enter text as shown

            .submit
              .text
                login &rsaquo;
                %input.button{tabindex: '3', type: 'submit', name: 'loginButton', value: 'log in &rsaquo;'}

