- content_for :head do
  = sass_link_tag 'join'

/ DREAMCATCHER LOGO
%a.dcLogo{href: root_path}
  %img{src: '/images/logos/dreamcatcher-366.png', width: '366', height: '102', alt: 'Dreamcatcher'}

#joinPage

  .joinInfo
    %h1 Join Now

    .forgot
      %a{href: forgot_password_path} forgot password

    .login
      %a{href: login_path} login

  .glowBox
    %img.dreamstar{src: '/images/icons/dreamstar-148.png', width: '148', height: '148', alt: 'dreamstar'}

    .shineBox
      = form_for(User.new, url: user_registration_path) do |f|
        = f.text_field :email, :placeholder => "email"
        = f.text_field :username, :placeholder => "username"
        = f.password_field :password, :placeholder => "password"
        = f.password_field :password_confirmation, :placeholder => "confirm password"
        .seed have a seed code?
        = f.text_field :seed_code, :value => session[:seed_code] || 'theta'
        .buttonWrap
          .text
            Join now &rsaquo;
            %input.button{type: 'submit', name: 'signup', value: 'Join now &rsaquo;'}

