- content_for :head do
  = sass_link_tag 'user_info'

/ DREAMCATCHER LOGO
%a.dcLogo{href: root_path}
  %img{src: '/images/logos/dreamcatcher-366.png', width: '366', height: '102', alt: 'Dreamcatcher'}



#loginPage

  .joinInfo
    %h1 login

    .forgot
      %a{href: forgot_password_path} forgot password

    .join
      %a{href: join_path} join now

  .glowBox
    %img.dreamstar{src: '/images/icons/dreamstar-148.png', width: '148', height: '148', alt: 'dreamstar'}

    .shineBox

      .loginForm
        = form_for('user', {url: user_session_path}) do |f|
          %span.label username
          = f.text_field :username, tabindex: '1', class: 'inputField'
          .clear
          %span.label password
          = f.password_field :password, tabindex: '2', class: 'inputField'
          .clear

          %a.fb_login{href: '/auth/facebook'}
            = render partial: "shared/hover_label", locals: {message: "log in with facebook", x: "24", y: "24"}

          .submit
            .text
              login &rsaquo;
              %input.button{tabindex: '3', type: 'submit', name: 'loginButton', value: 'log in &rsaquo;'}

      .clear