- content_for :head do
  = sass_link_tag 'user_info'

/ DREAMCATCHER LOGO
%a.dcLogo{href: root_path}
  %img{src: '/images/logos/dreamcatcher-366.png', width: '366', height: '102', alt: 'Dreamcatcher'}



#resetPassword

  .joinInfo
    %h1 reset password


  .glowBox
    %img.dreamstar{src: '/images/icons/dreamstar-148.png', width: '148', height: '148', alt: 'dreamstar'}

    .shineBox

      .resetForm
        = form_tag do_password_reset_path, :id => 'change_password' do
          = hidden_field_tag 'id', @user.id
          = hidden_field_tag 'reset_code', @code
          = fields_for @user do |f|
            %p.error
              = params[:errors]
            %span.label new password
            = f.password_field :password, class: 'inputField'
            .clear
            %span.label confirm new password
            = f.password_field :password_confirmation, class: 'inputField'

            .clear

          %input.resetButton{tabindex: '4', type: 'submit', name: 'resetPassword', value: 'submit'}

        .clear