- content_for :head do
  = sass_link_tag 'join'

/ DREAMCATCHER LOGO
%a.dcLogo{href: root_path}
  %img{src: '/images/logos/dreamcatcher-366.png', width: '366', height: '102', alt: 'Dreamcatcher'}



#resetPassword

  .joinInfo
    %h1 reset password


  .glowBox
    %img.dreamstar{src: '/images/icons/dreamstar-148.png', width: '148', height: '148', alt: 'dreamstar'}

    .shineBox

      .resetForm
        = form_tag :user, :method => :put, :'data-type' => :json, :remote => true, :id => 'change_password' do
          = fields_for User.new do |f|
            %p.error
            %span.label new password
            = f.password_field :password, class: 'inputField'
            .clear
            %span.label confirm new password
            = f.password_field :password_confirmation, class: 'inputField'

            .clear

          %input.resetButton{tabindex: '4', type: 'submit', name: 'resetPassword', value: 'submit'}