<div class="prevCommentWrap <%= hidden ? 'hidden': '' %>">

  <% if (comment.image_id) { %>
    <a style="background-image: url('/images/uploads/<%= comment.image_id %>-avatar-64.jpg')" href="/<%= comment.username %>" class="history avatar"></a>
  <% } else { %>
    <a href="/<%= comment.username %>" class="history avatar"></a>
  <% } %>
    
  <div class="prevComment">
    <a href="/<%= comment.username %>" class="user"><%= comment.username %></a>
    <div class="commentTime"><%= $.timeago(comment.updated_at) %></div>
    <% if (showDelete) { %>
      <a rel="nofollow" data-userid="<%= comment.user_id %>" data-entryid="<%= comment.entry_id %>" data-id="<%= comment.id %>" class="deleteComment">
        <div class="delete"></div>
      </a>
    <% } %>
    <div class="body"><p><%= comment.body.replace(/\n/g, "<br />") %></p></div>
  </div>
  <div class="clear"></div>
</div>