= content_for :head do

  :coffee
    $dc = {} unless $dc?

    class AuthPanel
      constructor: ->
        @closeRule = {left: '270px'}
        @nudgeRule = {left: '240px'}
        @openRule = {left: '0px'}
        
        @slider = $('#authRoll .slider')
        
        @slider.css(@closeRule)
        
        @slider.hover(
          => this.expand()
          => this.contract()
        )
      expand: ->
        @slider.stop(true).animate(@nudgeRule, 'fast').delay(150).animate(@openRule)
          
      contract: ->
        @slider.stop(true).animate(@closeRule)
          

    $(document).ready ->
      $dc.authPanel = new AuthPanel



  %style
    :sass
      #authRoll
        position: absolute
        top: 30px
        right: 0
        height: 100px
        width: 340px
        .holder, .slider
          height: 100%
          width: 100%
        img
          border-style: none
        .holder
          position: relative
          overflow: hidden
          .slider-cover
            background: url('/images/auth/authgradient.png') right no-repeat
            width: 38px
            height: 100%
            position: absolute
            right: 0
            z-index: 100
          .slider
            background-image: url('/images/auth/authpanel.png')
            position: absolute
            // animate this:
            left: 0px
            
            $delta: 72px
            $first: 15px
            $second: $first + $delta
            $third: $second + $delta
            $fourth: $third + $delta
            a
              position: absolute
              top: 16px
            #facebook
              left: $first
            #google
              left: $second
            #twitter
              left: $third
            #openid
              left: $fourth
            
              
              
      
#authRoll
  .holder
    .slider-cover
    .slider
      = link_to image_tag('auth/facebook_64.png'), '/auth/facebook',  :id => 'facebook'
      = link_to image_tag('auth/google_64.png'),   '/auth/google',    :id => 'google'
      = link_to image_tag('auth/twitter_64.png'),  '/auth/twitter',   :id => 'twitter'
      = link_to image_tag('auth/openid_64.png'),   '/auth/openid',    :id => 'openid'


