/ SIGNUP PANEL
#signupBack.categoryBack.dark.round-8.button-big-gray.float-right &lsaquo;
#signupButton.button-signup.button-action.round-8.dark.text-glow-10.button-big-blue{style: 'position: relative;'}
  Join Now
  #fbHover.dark.glow-40.round-4.float-right{style: 'position: absolute; right: 15pt; top: 29px;'}
    .dark.transparent-33.round-4.padding-4
      %fb:login-button(show-faces=false max-rows="1"){perms: FB_PERMS, width: '178px'}

#signup
  = form_for("user", url: user_registration_path) do |f|
    / EMAIL
    = f.label :email, :class => "signup-label round-8 light O-outline B-bevel flat-right"
    = f.text_field :email, :id => "signupEmail", :class => "signup-input round-8 text_input-big flat-left"
    / PASSWORD
    = f.label :password, :class => "signup-label round-8 light O-outline B-bevel flat-right"
    = f.password_field :password, :class => "signup-input round-8 text_input-big flat-left"
    / CONFIRM PASSWORD
    = f.label :password_confirmation, 'confirm password', :class => "signup-label round-8 light O-outline B-bevel flat-right"
    = f.password_field :password_confirmation, :class => "signup-input round-8 text_input-big flat-left"
    / USERNAME
    %p.float-left.clear-left{style: 'margin: 10px 0 0 15px; font-size: 25px'} create your username
    .clear-both
    .signup-label.round-8.light.O-outline.B-bevel.flat-right dreamcatcher.net/
    = f.text_field :username, :id => "signupUsername", :class => "signup-input round-8 text_input-big flat-left", :style => "margin-bottom:15px"
    / SEED CODE
    %hr.clear-both
    .signup-label.round-8.light.O-outline.B-bevel.flat-right seed code
    = f.text_field :seed_code, :value => 'theta', :class => "signup-input round-8 text_input-big flat-left"
    / FB LOGIN
    .fb-infoPanel.light.B.O-outline.round-8
      #fbSignIn
        #fbSignInLabel.font-11{style: 'margin: 15px 0 5px; display: block;'} Sign up using your Facebook account
        <fb:login-button max-rows="1" perms="<%= FB_PERMS %>" show-faces="true" width="178px"></fb:login-button>
    / SUBMIT
    %input.signup-next.dark.round-8.button-big-blue{type: 'submit', value:'next &rsaquo;'}
    .clear-both.font-11.align-center
      By signing up for an account, I agree to the
      %a.terms-link.dark.B-button.B-outline.round-4{href: '/terms'} terms and services

