  
/ DREAMCATCHER LOGO
- if current_user.blank?
  %a.dcLogo{href: root_path}
    %img{src: '/images/logos/dreamcatcher-366.png', width: '366', height: '102', alt: 'Dreamcatcher'}

  %a.randomDream{href: '/random'}
    .img
    random dream...


/ LEFT COLUMN
#leftColumn
  / WELCOME
  - unless session[:thank_you]
    .welcomeWrap.hidden
      %img.dreamstar{src: '/images/icons/dreamstar-148.png', width: '148', height: '148', alt: 'dreamstar'}
      %h1 Welcome
      .welcome
        %p.one <span class="cap">D</span>reamcatcher is a digital journaling and social life-sharing service that lets you <i>'catch'</i> your dreams and most cherished life experiences, keeping them organized and easy to share.
        %p.two Discover a deeper part of yourself, explore your subconscious mind, and share your creative journey with the world.
        %p.three A global social experiment to map the collective unconscious, Dreamcatcher is your space to chart the mysteries of the mind, explore global dream trends, and inspire greater synchronicity in your life.
        %p.four Start sharing and become part of the digital Dreamsphere.
        %br

        = link_to thank_you_path, remote: true, class: 'thankyou' do
          %img{src: '/images/icons/check-31.png', width: '31', height: '31'}
          %span ok

  / PUBLIC STREAM
  #publicStreamGlow
    #publicStream
      .today today in dreams
      / .todayFilter today
      / %h1.in in
      / .dreamsFilter dreams

      / DREAM MATRIX
      .matrix


        / / DREAM THUMBS 1D
        - @entries.each do |entry|
          = render :partial => 'entries/thumb_1d', :locals => {:entry => entry}
        - if @entries.blank?
          .noEntries No dreams yet today.

  #bottomLinks
    %a{href: terms_path} terms of service


/ RIGHT COLUMN
#rightColumn

  - if current_user.blank?
    / IF PUBLIC USER SHOW LOGIN and JOIN

    = render :partial => "common/meta_menu/login_panel"

    / JOIN PANEL
    .joinPanel
      = form_for(User.new, url: user_registration_path) do |f|
        .intro
          %h1 New to Dreamcatcher?
          <p>Easy, free, and instant updates about what people are dreaming.</p>
          <p>What am I dreaming about?<br />
          Whose dreams am I in?<br />
          What is the world dreaming?</p> 
          <p>Start sharing now and find out... with the most advanced dream journal ever.</p>

        / JOIN TOGGLE - BUTTON
        .joinWrap
          %a.join{href: join_path} Join Now &rsaquo;

  - else
    / DREAMSTARS PADDING
    .topPadding



  / DREAMSTARS MINI
  = render :partial => 'home/dreamstars_mini'

  .like
    <iframe src="http://www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fpages%2Fdreamcatchernet%2F204828486223840&amp;width=220&amp;colorscheme=dark&amp;show_faces=false&amp;stream=false&amp;header=false&amp;height=82" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
