<div id="wrapper">

  <!-- LEFT COLUMN -->
  <div id="column-left">
    <!-- LOGO -->
    <div class="front-logo"><a href="/"><img src="/images/logos/frontpage-logo.png" alt="Dreamcatcher - Life is a dream." width="447" height="129" border="0"></a></div>
    <%= render "info_box" %>
    <div id="bottomPadding"></div>
  </div>
  <!-- END LEFT COLUMN -->

  <!-- RIGHT COLUMN -->
  <div id="column-right">
    <%= render "login_box" %>
    
    <%= link_to image_tag('auth/facebook_64.png'), '/auth/facebook' %>
    <%#= render "auth_roll" %>
    
    <!-- MESSAGE BOX MODULE -->
    <div id="messageBox" class="float-right light round-8 glow-80" style="display:none;">
      <table width="480" border="0" cellspacing="8" class="light A-bevel round-8">
        <tr>
          <td class="round-4" style="background:url(/images/art/vertical-panel-01.jpg) 50% bottom" width="87" rowspan="2"></td>
          <td id="messageTitle" class="light B-soft round-4 font-25 font-bold error" align="left" height="57" valign="middle"></td>
        </tr>
        <tr>
          <td class="message-content"><ul></ul></td>
        </tr>
      </table>
    </div>
    <!-- END MESSAGE BOX MODULE -->

    <!-- ACTION BUTTON MODULE -->
    <div id="actionButtons" class="light glow-40 float-left gradient-C round-8">
      <%= render "signup_panel" %>
      <%= render "share_panel" %>
      <!-- EXPLORE THE DREAMSPHERE -->
      <a id="dreamSphereButton" class="block button-explore button-action round-8 light text-glow-10 button-big-blue" style="margin:0" href="/dreamstars">Explore the Dreamsphere</a>
      <%= render "fb_login" %>
      <%= render "forgot_password" %>
    </div><!-- END ACTION BUTTON MODULE -->
  </div><!-- RIGHT COLUMN -->
</div><!-- END WRAPPER -->

