- content_for :head do
  = sass_link_tag 'shared', 'home', 'entries'

#drop_shadow

#home.light

  / META MENU
  = render "layouts/meta_menu"
  %p.notice= notice
  %p.alert= alert

  / RIGHT COLUMN
  #rightColumn

    .dreamstarsMini.transparent-50.round-16
      %img.logo{src: '/images/logos/dreamstars-182.png', width: '182', height: '50'}

      .dreamstar-1.round-32.transparent-50
        .badge
        .rank 1
        .name deepak
      .dreamstar-2.round-32.transparent-50
        .badge
        .rank 2
        .name deepak
      .dreamstar-3.round-32.transparent-50
        .badge
        .rank 3
        .name deepak
      .dreamstar-4.round-32.transparent-50
        .badge
        .rank 4
        .name deepak
      .dreamstar-5.round-32.transparent-50
        .badge
        .rank 5
        .name deepak
      .dreamstar-6.round-32.transparent-50
        .badge
        .rank 6
        .name deepak

  / PUBLIC STREAM
  #publicStream
    .todayFilter.dark.transparent-30.round-8.border today
    %h1 in
    .dreamsFilter.dark.transparent-30.round-8.border dreams
    .randomDream.button.round-12 
      %span random
      dream!

    
    / DREAM MATRIX
    .matrix


      / DREAM THUMBS 1D
      = render :partial => 'entries/thumb_1d'

      / 
        DREAM THUMBS 1D
        = render :partial => 'entries/thumb_1d_tag'

        / DREAM THUMBS 1D
        = render :partial => 'entries/thumb_1d_noimage'

        / DREAM THUMBS 1D
        = render :partial => 'entries/thumb_1d_newimages'

