!!! 5
%html
  %head
    %meta(content="text/html charset=UTF-8" http-equiv="Content-Type")

  %body
    %h4 Hello Dreamcatcher Team,
    
    %p
      User 
      - if @user
        = "#{@user.username} (#{@user.name}) <#{@user.email}>"
      - else
        (No logged in user)
      has sent us some feedback.
    %p= "Dreamcatcher Version:#{@dreamcatcher_version}"
    %p= "UserAgent: #{@user_agent}"
    %p
      Here is what they wrote:
    %hr
    %p
      = simple_format(@feedback)
      
