- content_for :head do
  = include_stylesheets 'dictionaries'

.container.light

  .module
    %h1
      = @word.new_record? ? "new word" : "edit word"
      = link_to "< cancel", dictionary_words_path(@dict)

    = render( { partial: 'form', locals: { word: @word } } )
    - unless @word.new_record?
      = link_to "delete", dictionary_word_path(@dict, @word), {method: :delete, confirm: 'are you sure?'}


  .module
    %ul{style: 'margin-left: 8px'}
      - @last_words._?.each do |word|
        = render(partial: 'word', object: word)
