- content_for :head do
  = include_stylesheets 'dictionaries'

.container.light

  %a.new{href: new_dictionary_word_path(@dict)}
    + new word


  .module
    %h2
      = @dict.name
      = link_to "edit", edit_dictionary_path(@dict), :class => 'edit'
      = link_to "< bookshelf", dictionaries_path, :class => 'back'
  
    %ul{style: 'margin-left: 8px'}
      - @dict.words.order(:name).each do |word|
        = render(partial: 'word', object: word)
        