- content_for :head do
  = include_stylesheets 'dictionaries'

.container.light

  .module
    %h2= @word.name
    .dark= @word.definition
    %hr
    #edit
      = link_to "edit", edit_dictionary_word_path(@dict, @word)
    #all
      = link_to "all words", dictionary_words_path(@dict)