<div class="prevCommentWrap">
  <a style="background-image: url('/images/uploads/<%= this.user_id %>-avatar-64.jpg')" href="/<%= this.username %>" class="avatar"></a>
  <div class="prevComment">
    <a href="/<%= this.username %>" class="user"><%= this.username %></a>
    <div class="commentTime"><%= $.timeago(this.updated_at) %></div>
    <a rel="nofollow" data-entryid="<%= this.entry_id %>" data-id="<%= this.id %>" class="deleteComment"><div class="delete"></div>
    </a>
    <div class="body"><p><%= this.body %></p></div>
  </div>
  <div class="clear"></div>
</div>