.entry-dateTime.entryPanels
  .dateTimeHeader.headers
    .img
    date &amp; time

  - datetime = @entry.dreamed_at
  .date
    = select_month(datetime, {:prefix => :dreamed_at}, :class => 'month')
    = select_day(datetime, {:prefix => :dreamed_at},   :class => 'day')
    = select_year(datetime, {:prefix => :dreamed_at, :start_year => 2011, :end_year => 1900},  :class => 'year')
  
  .time
    = dc_select_hour(datetime, {:prefix => :dreamed_at}, :class => 'hour')
    = dc_select_ampm(datetime, {:prefix => :dreamed_at}, :class => 'amPm')  
  .clear
