#metaMenu.user

  / INTRO MENU
  .leftPanel
    %a.item{href: '/dreamstars'}
      dreamstars
    %a.item{href: entries_path(current_user.username)}
      my dreams
    %a.item{href: stream_path}
      stream


  / LOG OUT
  %a.logOut{href: '/logout'}
    log out


  / SETTINGS MENU
  .rightPanel
    %a.item.user.selected{:'data-id' => current_user.id, href: entries_path(current_user.username), style: "background:url(#{avatar_image(current_user, 32)}) no-repeat scroll 0 0 #000;"}
      %span
        = current_user.username


    / NOTIFICATIONS PANEL
    .notificationsPanel.hidden
      .notifyIcon 5

      / NOTICE - SUCCESS
      .notice
        .close X
        %span You have successfully logged in

      / ALERT - FAIL, WARING
      .alert
        .close X
        %span You're password and/or username did not match our records

      / ALERT - FAIL, WARING
      .alert
        .close X
        .icon{style: 'background: url(/images/icons/info-24-selected.png) no-repeat left'}
        %span The system will be down at 3pm PST

      / NOTIFICATION - NEW COMMENT, TAG
      .notification
        .close X
        .avatar{style: 'background: url(/images/avatars/xavitar.jpg) no-repeat left'}
        %span Username has commented on your dream


    .settingsPanel.wrapper
      .item.settings.trigger
        %img{src: "/images/icons/account-32.png", width: '32', height: '32', alt: "account settings"}
        = render partial: "shared/hover_label", locals: {message: "settings", x: "17", y: "35"}

      / SETTINGS PANEL
      = render partial: "layouts/settings_panel"

    .appearancePanel.wrapper
      .item.appearance.trigger
        %img{src: "/images/icons/appearance-32.png", width: '32', height: '32', alt: "page theme"}
        = render partial: "shared/hover_label", locals: {message: "appearance", x: "17", y: "35"}

      / APPEARANCE PANEL
      = render partial: "layouts/appearance_panel"

  / ADMIN LINK
  %a.adminLink{href: '/admin'}
    %img{src: '/images/icons/admin-16.png', border: '0'}

  / NEW ENTRY LINK
  %a.newEntry{href: new_entry_path}
    %span +
    new entry
