#metaMenu.public

  .leftPanel
    %a.item{href: '#'}
      intro
    %a.item{href: '#'}
      books
    %a.item{href: '#'}
      channels
    %form
      %input{type: 'text', name: 'search' }


  .rightPanel
    .prompt
      %a.loginItem
        %img{src: '/images/icons/facebook-16.png', alt: 'Log in with Facebook', border: '0'}
      %a.loginItem
        %img{src: '/images/icons/twitter-16.png', alt: 'Log in with Twitter', border: '0'}
      %a.loginItem
        %img{src: '/images/icons/google-16.png', alt: 'Log in with Google', border: '0'}
      %a.login{href: '#'}
        login

    / LOGIN PANEL
    .loginPanel.hidden
      = form_for('user', {url: user_session_path}) do |f|
        %a.forgot{href: '#'} Forgot password
        %label.stay
          Stay logged in
          %input{tabindex: '4', type: 'checkbox', name: 'remember_me'}
        = f.text_field(:username, {class: 'login-input', tabindex: '1', placeholder: 'Username'})
        = f.password_field(:password, {class: 'login-input', tabindex: '2', placeholder: 'Password'})
        %input#loginButton{tabindex: '3', name: 'loginButton', type: 'submit', value: 'Log in &rsaquo;'}

    / JOIN NOW
    .joinWrap
      %a.join{href: '#'}
        Join Now &rsaquo;

    / SIGN UP
    = form_for(User.new, url: user_registration_path) do |f|
      .signupPanel.hidden
        = f.text_field :email, :class => 'login-input', :placeholder => "Email"
        = f.text_field :username, :class => 'login-input', :placeholder => "Username"
        %span password
        = f.password_field :password, :class => 'login-input', :placeholder => "Password"
        %span confirm password
        = f.password_field :password_confirmation, :class => 'login-input', :placeholder => "Password Confirmation"
        .haveSeedcode have a seed code?
        = f.text_field :seed_code, :value => 'theta', :class => 'login-input hidden', :onClick => "this.select()"

        / SIGN UP BUTTON
        .signupWrap
          %input.signup{type: 'submit', name: 'signup', value: 'Sign up &rsaquo;'}
