#metaMenu.public

  .notice= notice
  .alert= alert

  .leftPanel
    %a.item{href: '#'}
      intro
    %a.item{href: '#'}
      books
    %a.item{href: '#'}
      channels
    %form
      %input{type: 'text', name: 'search' }


  .rightPanel
    .prompt
      .login
        login
      .joinToggle.hidden
        Join now &rsaquo;
      / %a.loginItem
      /    %img{src: '/images/icons/google-16.png', alt: 'Log in with Google', border: '0'}
      /  %a.loginItem
      /    %img{src: '/images/icons/twitter-16.png', alt: 'Log in with Twitter', border: '0'}
      %a.loginItem
        %img{src: '/images/icons/facebook-16.png', alt: 'Log in with Facebook', border: '0'}

    / LOGIN PANEL
    .loginPanel.hidden
      = form_for('user', {url: user_session_path}) do |f|
        %a.forgot{href: '#'} Forgot password
        %label.stay
          Stay logged in
          %input{tabindex: '4', type: 'checkbox', name: 'remember_me'}
        = f.text_field(:username, {class: 'login-input', tabindex: '1', placeholder: 'username'})
        = f.password_field(:password, {class: 'login-input', tabindex: '2', placeholder: 'password'})
        %input#loginButton{tabindex: '3', name: 'loginButton', type: 'submit', value: 'log in &rsaquo;'}

    / JOIN NOW
    .joinWrap
      %a.join{href: '#'}
        Join now &rsaquo;

    / SIGN UP
    = form_for(User.new, url: user_registration_path) do |f|
      .signupPanel.wrapper.hidden
        = f.text_field :email, :class => 'login-input', :placeholder => "email"
        = f.password_field :password, :class => 'login-input', :placeholder => "password"
        = f.password_field :password_confirmation, :class => 'login-input', :placeholder => "confirm password"
        %span http://dreamcatcher.net/username
        = f.text_field :username, :class => 'login-input', :placeholder => "username"

        .haveSeedcode.trigger.slide enter a seed code &raquo;
        = f.text_field :seed_code, :value => 'theta', :class => 'login-input target slide seedcode', :onClick => "this.select()"

        / SIGN UP BUTTON
        .signupWrap
          %input.signup{type: 'submit', name: 'signup', value: 'sign up &rsaquo;'}
