/ SETTINGS PANEL
#settingsPanel.hidden.target
  .arrow

  / SHARING
  .sharing


    .defaultSharing{:'data-id' => current_user.default_sharing_level}

      %img.sharing-icon{src: '/images/icons/everyone-16.png'}
      %h2.sharing-label default sharing


      %select#sharingList.sharingList
        %option.everyone{  value: Entry::Sharing[:everyone]  } everyone
        %option.friends{   value: Entry::Sharing[:friends]   } friends only
        %option.anonymous{ value: Entry::Sharing[:anonymous] } anonymous
        %option.private{   value: Entry::Sharing[:private]   } private


    %label.hidden
      I must authorize all follow requests
      %input.authFollow{type: 'checkbox'}
    .clear


    %hr.alpha-20


    .network

      %img.facebook-icon{src: '/images/icons/facebook-16.png'}
      %h2.facebook-label facebook login

      %a.linkAccount{href: ''}
        link account
    .clear


  / CHANGE PASSWORD

  .changePassword.trigger.wrapper.showhide

    %img.password-icon{src: '/images/icons/key-16.png'}
    %h2.password-label change password


    .changePasswordForm.target.showhide.hidden
      = form_tag :user, :method => :put, :'data-type' => :json, :remote => true, :id => 'change_password' do
        = fields_for current_user do |f|
          %p.error
          = f.password_field(:old_password, {placeholder: 'Current password'})
          %p.error
          = f.password_field(:password, {placeholder: 'New password'})
          = f.password_field(:password_confirmation, {placeholder: 'Confirm new password'})
          .cancel cancel
          = f.submit :'change password', :class => 'confirm'
          .clear


    .clear






  /
    FONT SIZING
    .fontSizing
      %h2
        %img{src: '/images/icons/font_size-16.png'}
        Font
      .large A
      .medium A
      .small A
