!!! 5
%html
  %head
    %title
      = truncate(@page_title, length: 72) + ' - ' if @page_title
      Dreamcatcher ( Life is a dream. )
    = csrf_meta_tag
    - if !@entry._?.main_image
      %meta{name:"og:image", content:"http://dreamcatcher.net/images/logos/dreamcatcher-fb.jpg"}

    = include_stylesheets :shared, :media => 'all'
    
    / - steal_src = Rails.env.development? ? "steal.js?dreamcatcher,development" : "steal.production.js?dreamcatcher"
    / %script{:type => "text/javascript", src: "/steal/#{steal_src}"}
    = include_javascripts :jmvc_plugins, :jmvc_resources, :dreamcatcher_app
    
    = include_javascripts :shared
        
    :coffeescript
      $(document).ready ->
        # $('input[placeholder], textarea[placeholder]').placeholder()
    = yield :head

  %body{id: 'body', class: appearance_classes, style: bedsheet_style}
    #backgroundReplace


    - unless current_user.blank?
      #userInfo{:'data-id' => current_user.id, :'data-imageid' => current_user.image_id, :'data-viewpreference' => current_user.view_preference.to_json}

    = render :partial => "layouts/alert"

    = yield


    = render :partial => "users/meta_menu", :locals => {:user => @user, :home => false}

    - if Rails.env.production? || Rails.env.theta?
      = javascript_include_tag 'google_analytics'

    = yield :foot

