!!! 5
%html
  %head
    %title
      = truncate(@page_title, length: 72) + ' - ' if @page_title
      Dreamcatcher ( Life is a dream. )
    = csrf_meta_tag

    = sass_link_tag 'shared'
    /= stylesheet_link_tag 'imageBank.artist', 'imagebank.artistList', 'imagebank.browse', 'imagebank', 'imagebank.searchImages', 'imagebank.searchList', 'imagebank.slideshow'
    
    /= javascript_include_tag 'require'
    /= javascript_include_tag 'jquery.min', 'require', 'compiled/application'
    %script{type: "text/javascript", :'data-main' => "public/javascripts/", src: "/javascripts/require.js"}
    %script
      require(["/javascripts/jquery.min.js"])  
      require(['/javascripts/pubsub.js', '/javascripts/rails.js', '/javascripts/jquery.hoverIntent.minified.js', '/javascripts/jquery-ui.min.js', "/javascripts/jquery.placeholder.js"])
  

    = yield :head

  %body{id: 'body', class: "#{theme} scroll", style: bedsheet_style}

    #drop_shadow


    = render "users/meta_menu"


    = yield

    - if Rails.env == 'production' || Rails.env == 'theta'
      :coffeescript
        require({baseUrl: "/javascripts"}, 'google_analytics')


    = yield :foot
    -# render "shared/facebook_sdk"
    
