<!DOCTYPE html>
<html>
<head>
  <title>Dreamcatcher</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag 'basic' %>
  <%= csrf_meta_tag %>
  <%= yield :head %>
</head>
<body>

<%= yield %>

</body>
</html>
