!!! 5
%html
  %head
    %title
      = truncate(@page_title, length: 72) + ' - ' if @page_title
      Dreamcatcher ( Life is a dream. )
    = csrf_meta_tag

    = sass_link_tag 'shared'
    /= stylesheet_link_tag 'imageBank.artist', 'imagebank.artistList', 'imagebank.browse', 'imagebank', 'imagebank.searchImages', 'imagebank.searchList', 'imagebank.slideshow'
    = javascript_include_tag 'jquery.min', 'jquery.lightbox-0.5.pack', 'jquery.hoverIntent.minified', 'pubsub', 'rails'
    = coffeescript_include_tag 'dreamplugs', 'metamenu'
    = yield :head

  %body{id: 'body', class: "#{theme} scroll", style: bedsheet_style}


    #drop_shadow



    - unless flash.notice.blank? && flash.alert.blank?
      / ALERT PANEL 
      #geoHeader
        %p= flash.notice
        %p= flash.alert


    = render :partial => "users/meta_menu", :locals => {:user => @user, :home => false}


    = yield

    - if Rails.env == 'production' || Rails.env == 'theta'
      :coffeescript
        require({baseUrl: "/javascripts"}, 'google_analytics')


    = yield :foot
    -# render "shared/facebook_sdk"
    
