!!! 5
%html
  %head
    %title Dreamcatcher
    = csrf_meta_tag

    = sass_link_tag 'shared', 'appearancePanel'
    = stylesheet_link_tag 'basic', 'clearfix'
    = stylesheet_link_tag 'imageBank.artist', 'imagebank.artistList', 'imagebank.browse', 'imagebank', 'imagebank.searchImages', 'imagebank.searchList', 'imagebank.slideshow'

    = javascript_include_tag 'jquery', 'rails', 'application', "jquery.hoverIntent.minified", "functions.core", "header"

    = yield :head

  %body{id: 'body', class: 'color light', style: 'background: url("/images/bedsheets/air-01.jpg") repeat scroll 0 0 #202020'}
    = render "shared/facebook_sdk"
    #drop_shadow
    = render "layouts/meta_menu"
    %p.notice= notice
    %p.alert= alert

    = yield

    - if Rails.env == 'production'
      = javascript_include_tag "google_analytics"


    = yield :foot
    = javascript_include_tag "http://connect.facebook.net/en_US/all.js"
    = javascript_include_tag "jquery-ui.min", "imageBank"
    
