!!! 5
%html
  %head
    %title Dreamcatcher
    = stylesheet_link_tag :all
    = javascript_include_tag :defaults
    = javascript_include_tag "http://connect.facebook.net/en_US/all.js"
    = csrf_meta_tag
    = yield :head

  %body
    = render "shared/facebook_sdk"
    = render "layouts/meta_menu"
    %p.notice= notice
    %p.alert= alert

    = yield
