!!! 5
%html
  %head
    %title Dreamcatcher
    = csrf_meta_tag

    = sass_link_tag 'shared', 'dreamstars'
    = stylesheet_link_tag 'clearfix'
    = stylesheet_link_tag 'imageBank.artist', 'imagebank.artistList', 'imagebank.browse', 'imagebank', 'imagebank.searchImages', 'imagebank.searchList', 'imagebank.slideshow'

    = coffeescript_include_tag 'application'
    = javascript_include_tag 'jquery', 'rails', 'application', 'pubsub', "jquery.hoverIntent.minified", "functions.core"

    = yield :head

  %body{id: 'body', class: 'color dark', style: 'background: url("/images/bedsheets/air-03.jpg") repeat scroll 0 0 #202020'}
    = render "shared/facebook_sdk"

    #drop_shadow

    %p.notice= notice
    %p.alert= alert

    = render "layouts/meta_menu"


    = yield

    - if Rails.env == 'production' || Rails.env == 'theta'
      = javascript_include_tag "google_analytics"


    = yield :foot
    = javascript_include_tag "http://connect.facebook.net/en_US/all.js"
    = javascript_include_tag "jquery-ui.min", "imageBank", 'chat'
    
