!!! 5
%html
  %head
    %title
      = truncate(@page_title, length: 72) + ' - ' if @page_title
      Dreamcatcher ( Life is a dream. )
    = csrf_meta_tag
    - if !@entry._?.main_image
      %meta{property:"og:image", content:"http://dreamcatcher.net/images/logos/dreamcatcher-fb.jpg"}

    / ENABLE CHROME FRAME FOR IE
    %meta{:'http-equiv' => "X-UA-Compatible", content: "chrome=1"}

    %meta{property: "og:image", content: "http://dreamcatcher.net/images/logos/dreamcatcher-fb.jpg"}

    = stylesheet_link_tag :application, :media => 'all' # :common


    = yield :headBefore

    = javascript_include_tag :application # :vendor, :shared #, :jmvc_framework, :jmvc_resources, :jmvc_application

    = yield :head



  %body{id: 'body', class: appearance_classes, style: bedsheet_style}

    #backgroundReplace
    #bodyClick

    - unless current_user.blank?
      #currentUserInfo{:'data-id' => current_user.id, :'data-imageid' => current_user.image_id, :'data-viewpreference' => current_user.view_preference.to_json, :'data-username' => current_user.username}

    = render :partial => "common/meta_menu/alert"
    = render :partial => 'common/loading_ajax'

    = yield

    = render :partial => "common/meta_menu/meta_menu", :locals => {:user => @user, :home => false}
    = render :partial => "layouts/chrome_frame"

    - if Rails.env.production?
      =# javascript_include_tag 'google_analytics'
      =# render :partial => "layouts/piwik"

    = yield :foot
    / = render 'common/facebook_sdk'

    =# render "shared/facebook_sdk"
