!!! 5
%html
  %head
    %title
      = truncate(@page_title, length: 72) + ' - ' if @page_title
      Dreamcatcher ( Life is a dream. )
    = csrf_meta_tag

    = sass_link_tag 'shared'
    /= stylesheet_link_tag 'imageBank.artist', 'imagebank.artistList', 'imagebank.browse', 'imagebank', 'imagebank.searchImages', 'imagebank.searchList', 'imagebank.slideshow'
    
    %script{type: "text/javascript", :'data-main' => "/javascripts/compiled/application", src: "/javascripts/require.js"}

    = yield :head

  %body{id: 'body', class: "#{theme} scroll", style: bedsheet_style}

    #drop_shadow


    = render "users/meta_menu"


    = yield

    - if Rails.env == 'production' || Rails.env == 'theta'
      :coffeescript
        require({baseUrl: "/javascripts"}, 'google_analytics')


    = yield :foot
    -# render "shared/facebook_sdk"
    
