!!! 5
%html
  %head
    %title
      = truncate(@page_title, length: 72) + ' - ' if @page_title
      Dreamcatcher ( Life is a dream. )
    = csrf_meta_tag
    - if !@entry._?.main_image
      %meta{name:"og:image", content:"http://dreamcatcher.net/images/logos/dreamcatcher-fb.jpg"}

    = include_stylesheets :shared, :media => 'all'
  %script{:type => "text/javascript", src: "/steal/steal.js?dreamcatcher,development"}
    = include_javascripts :shared
        
    :coffeescript
      $(document).ready ->
        $('input[placeholder], textarea[placeholder]').placeholder()
    = yield :head

  %body{id: 'body', class: theme, style: bedsheet_style}

    #bodyClick

    - unless flash.notice.blank? && flash.alert.blank?
      = render :partial => "layouts/alert"


    = render :partial => "users/meta_menu", :locals => {:user => @user, :home => false}


    = yield

    - if Rails.env == 'production' || Rails.env == 'theta'
      = javascript_include_tag 'google_analytics'


    = yield :foot
    
