!!! 5
%html
  %head
    %title Dreamcatcher
    = sass_link_tag 'shared', 'home'
    = javascript_include_tag 'jquery.min'
    =# javascript_include_tag "http://connect.facebook.net/en_US/all.js"
    %script{type: "text/javascript", :'data-main' => "/javascripts/compiled/application", src: "/javascripts/require.js"}
    :coffeescript
      require(['loginpanel', 'dreamplugs', 'cookies'])

    = csrf_meta_tag
    = yield :head

  %body.light{style: "background: url('/images/bedsheets/today-in-dreams-med.jpg') scroll top center #022e5e"}
    = render "shared/facebook_sdk"

    #drop_shadow
    #home

      = yield

    - if Rails.env == 'production'
      :coffeescript
        require({baseUrl: "/javascripts"}, 'google_analytics')

