!!! 5
%html
  %head
    %title Dreamcatcher ( Life is a dream. )
    = csrf_meta_tag

    / ENABLE CHROME FRAME FOR IE
    %meta{:'http-equiv' => "X-UA-Compatible", content: "chrome=1"}

    / FACEBOOK THUMBNAIL
    %link{rel: 'image_src', href: "http://dreamcatcher.net/images/logos/dreamcatcher-fb.jpg"}
    = include_stylesheets :common, :media => 'all'
    
    / - steal_src = Rails.env.development? ? "steal.js?dreamcatcher,development" : "steal.production.js?dreamcatcher"
    / %script{:type => "text/javascript", src: "/steal/#{steal_src}"}

    = include_javascripts :jmvc_framework, :jmvc_resources, :jmvc_application, :shared, :home
    = javascript_include_tag "http://connect.facebook.net/en_US/all.js"
    
    = yield :head







  %body#body.home{class: appearance_classes}

    -# render "common/facebook_sdk"

    = render :partial => "common/meta_menu/alert"

    #drop_shadow
    #home{class: current_user.blank? ? 'public' : ''}
      = yield

    = render :partial => "layouts/chrome_frame"

    - unless current_user.blank?
      / META MENU - USER
      = render :partial => "common/meta_menu/meta_menu"

    - if Rails.env.production?
      = javascript_include_tag 'google_analytics'

    = yield :foot